/* aboutUs - storyNews - CI */
.about-ci {
    &__contents {
        display: table;
        padding:100px 0 160px;
    }

    &__title {
        h2 {
            padding: 80px 0;
            line-height: 1;

            p {
                display: block;
                margin-top: 15px;
                font-size: 20px;
                line-height: 30px;
                font-weight: 400;
                color: #fff;
            }
        }
    }

    &__identity {
        display: table-cell;
        width: 50%;
        padding-right: 150px;

        &--area {
            h3 {
                display: block;
                padding-bottom: 19px;
                color: $titleColor;
                font: {
                    size: 25px;
                    weight: bold;
                }
                line-height: 1;
                border-bottom: 2px solid $titleColor;
            }

            p {
                display: block;
                padding-top: 19px;
                color: #535353;
                font-size: 18px;
                line-height: 32px;
                letter-spacing: -0.63px;
                word-break: keep-all;
            }
        }

        &--orientation {
            margin-top: 50px;
        }
    }

    &__img {
        display: table-cell;
        width: 50%;
        height: 501px;
        background: url("/images/about/web_img_ci.png") no-repeat center / contain;
    }
}

/* aboutUs - storyNews - News */
.about-storyNews {
    &__title {
        padding: 60px 0 50px;
    }

    &__contents {
        max-width: 1614px;
        padding: 60px 0 90px;
        margin: 0 auto;
    }

    &__list {
        width: 100%;
        font-size: 0;
        @extend %clear;

        ul {
            margin-right: - 2.6%;
        }

        &-item {
            float: left;
            width: calc(33.33% - 2.6%);
            margin-bottom: 20px;
            border: 1px solid #ccc;
            box-sizing: border-box;
            margin-right: 42px;

            &--text {
                padding: 19px 25px;
            }

            figure {
                width: 100%;
                height: 298px;
                border-bottom: 1px solid #ccc;
                background-repeat: no-repeat;
                background-size: 100%;
                background-position: center;

                img {
                    width: 100%;
                    height: 100%;
                }
            }

            h3 {
                display: block;
                padding: 9px 0 21px 10px;
                position: relative;
                color: #2a2a2a;
                font: {
                    size: 25px;
                    weight: bold;
                }
                line-height: 1;
                @include line(1);

                &:before {
                    content:"";
                    display: block;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 10px;
                    height: 10px;
                    border-radius: 50%;
                    background-color: #3767c7;
                }
            }

            p {
                display: block;
                height: 50px;
                padding-left: 10px;
                color: #2a2a2a;

                font : {
                    size: 18px;
                    weight: 400;
                }
                @include line(2);
            }

            &:last-child {
                margin-right: 0;
            }
        }
    }

    &__top-btn {
        display: none;
        font-size: 0;
    }

    .pagination {
        margin-top: 60px;
    }
}

/* aboutUs - storyNews - News 상세보기*/
.storyNews-detail {
    &__contents {
        max-width: 1097px;
        margin: 0 auto;
    }

    &__section {
        padding: 80px 0 100px;
    }

    &__title {
        display: block;
        position: relative;
        padding-left: 15px;
        font-size: 40px;
        color: #2a2a2a;
        line-height: 50px;

        &::before{
            content: "";
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 15px;
            height: 15px;
            background-color: #3767c7;
            border-radius: 50%;
        }
    }

    &__box {
        padding: 0 15px;
    }

    &__date{
        padding: 48px 0 60px;

        time {
            display: inline-block;
            padding-right: 9px;
            position: relative;
            vertical-align: middle;
            font-size: 14px;
            color: #2a2a2a;
            line-height: 1;

            &::after{
                content: "";
                position: absolute;
                display: inline-block;
                right: 0;
                top: 50%;
                transform: translateY(-50%);
                width: 1px;
                height: 13px;
                background-color: #2a2a2a;
            }
        }

        span {
            display: inline-block;
            padding-left: 9px;
            vertical-align: middle;
            font-size: 14px;
            line-height: 1;
        }
    }

    &__img {
        width: 100%;
        height: auto;
        border: 1px solid #d2d2d2;
        font-size: 0;
        text-align: center;

        img {
            max-width: 100%;
            height: auto;
        }
    }

    &__text {
        padding-top: 46px;

        p {
            font-size: 16px;
            color: #2a2a2a;
            line-height: 28px;
        }
    }
}

/* 웹 1600 이상 사이즈 */
.about-ir {
    //background-color: #AAA;

    .contents-wrap__section{
        text-align: center;
        padding-bottom: 30px;

        &.ir-board-detail {
            text-align: left;
        }

        .info {
            float: left;
            width: 45%;
        }
        .img {
            float: right;
            width: 50%;
            img {
                width: auto;
            }
        }
    }
    &__chart {
        width: 40%;
        padding: 1;
        display: inline-block;

        h3{
            width:100%;
            text-align: center;
        }
        h6{
            width:100%;
            text-align: center;
            font-size: 70%;
        }
        div{
            width:100%;
            height:30%;
        }
    }

    &__link {
        margin-top: 30px;
        text-align: center;
        a.link,
        button {
            width: auto;
            padding: 14px 24px 12px;
            display: inline-block;
            text-align: center;
            color: #fff;
            font-size: 13px;
            background-color: #2b4985;
        }
    }

}

/* 웹 1600 사이즈 */
@media all and (max-width: 1600px) {
    @import "./lib/webvw";
    .about-ir {
        //background-color: #AAA;

        .contents-wrap__section{
            //  text-align: center;
        }
        &__chart {
            width: vw(40%);
            padding: vw(1%);
            display: inline-block;

            h3{
                width:vw(100%);
                text-align: center;
            }
            h6{
                width:vw(100%);
                text-align: center;
                font-size: vw(70%);
            }
            div{
                width:vw(100%);
                height:vw(30%);
            }
        }

        &__link {
            margin-top: vw(30px);
            a.link,
            button {
                padding: vw(14px 24px 12px);
                font-size: vw(13px);
            }
        }

    }
}
/* 모바일 사이즈 */
@media all and (max-width: 767px) {
    @import "./lib/vw";
    .about-ir {
        .contents-wrap__section{
            // text-align: center;
            .info,
            .img {
                float: none;
                width: auto;
            }
        }
        &__chart {
            width: vw(100%);
            display: inline-block;

            h3{
                width:vw(100%);
                text-align: center;
            }
            h6{
                width:vw(100%);
                text-align: center;
                font-size: 70%;
            }
            div{
                width:vw(100%);
                height:vw(25%);
            }
        }

        &__link {
            margin-top: vw(30px);
            a.link,
            button {
                width: vw(123px);
                padding: vw(12px 24px);
                font-size: vw(13px);
            }
        }
    }
}

/* aboutUs - ceoMessage*/
.about-ceo {
    &__contents {
        padding: 0 0 72px 1173px;
        margin-top: 103px;
        font-size: 0;
        background: url("/images/about/img_ceo.jpg") no-repeat left top/ 1079px 620px;
    }

    &__title {
        padding-bottom: 35px;
        color: #000;
        font: {
            size: 25px;
            weight: 400;
        }
        border-bottom: 1px solid $titleColor;
        line-height: 34px;

        em {
            color: $titleColor;
            font-weight: bold;
        }

        span {
            font-weight: bold;
        }
    }

    &__text {
        padding-right: 50px;
        padding-top: 35px;
        color: #2a2a2a;
        font-size: 18px;
        line-height: 32px;

        p {
            padding-bottom: 15px;
            word-break: keep-all;
        }
    }
}

/* aboutUs - location */
.about-location {

    &__tab {
        width: 940px;
        padding-bottom: 70px;
        margin: 0 auto;
    }

    &__title {
        position: relative;
        height: 150px;

        h2 {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
        }
    }

    &__swiper {
        height: 500px;

        img {
            width: 100%;
            height: 100%;
        }

        .swiper-button {
            width: 79px;
            height: 79px;
            font-size: 0;

            &::after {
                display: none;
            }
        }
        .swiper-button-next {
            background: url("/images/about/location_next.png")no-repeat;
            background-size: contain;
        }

        .swiper-button-prev {
            background: url("/images/about/location_prev.png")no-repeat;
            background-size: contain;
        }

        .swiper-pagination {
            bottom: 30px !important;
            width: 100%;
        }

        .swiper-pagination-bullet {
            width: 17px;
            height: 17px;
            margin: 0 2px;
            background-color: #4e4e4e;
            opacity: 1;

            &.swiper-pagination-bullet-active {
                background-color: #fff;
            }
        }

    }

    &__contents {
        width: 890px;
        padding-bottom: 110px;
        margin: 0 auto;
        background-color: #fff;
    }

    &__info {
        width: 100%;
        padding-top: 20px;
        padding-bottom: 20px;
        @extend %clear;

        &--map {
            display: inline-block;
            // float: left;
            width: 50%;
            height: 345px;
        }

        &--address {
            float: right;
            padding-top: 43px;
            padding-left: 45px;
            width: 400px;
            vertical-align: middle;

            h3 {
                display: none;
            }

            p {
                display: block;
                width: 370px;
                color: #000;
                font-size: 25px;
                word-break: keep-all;
                line-height: 37px;

                em {
                    font-weight: bold;
                }
            }

            dl {
                display: block;
                padding-top: 32px;

                dt {
                    display: inline-block;
                    color: #535353;
                    font : {
                        size: 18px;
                        weight: bold;
                    }
                    line-height: 32px;
                    vertical-align: top;

                    &::after {
                        content: "";
                        display: inline-block;
                        width: 2px;
                        height: 15px;
                        margin: 0 7px;
                        background-color: #535353;
                        vertical-align: middle;
                    }

                }

                dd {
                    display: inline-block;
                    width: 280px;
                    font-size: 18px;
                    color: #535353;
                    letter-spacing: -0.7px;
                }
            }
        }
    }

    &__video {
        display: block;
        width: 890px;
        height: 500px;

        iframe {
            width: 100%;
            height: 100%;
        }

        &.m-video {
            display: none;
        }
    }
}

/* aboutUs - heritage */
.about-heritage {
    &__top-img {
        display: block;
        width: 100%;
        height: 270px;
        background: url("/images/about/heritage/img_top.jpg")no-repeat;
        background-size: cover;
    }

    &__contents {
        max-width: 1376px;
        margin: 0 auto;
        padding-bottom: 200px;
    }

    &__info {
        padding: 88px 770px 220px 0;
        background: url("/images/about/heritage/img_right.jpg")no-repeat right top;
        background-size: 490px 560px;

        &--title {
            display: block;
            padding-bottom: 34px;
            color: $titleColor;
            font-size: 25px;
            font-weight: bold;
            line-height: 37px;
        }

        &--text {
            display: block;
            color: #383838;
            font-size: 18px;
            line-height: 32px;
            word-break: keep-all;
        }
    }

    &__slide {
        padding-top: 200px;

        .about-heritage__slide--img {
            width: 837px;
            height: 630px;

            .swiper-wrapper {
                padding-top: 63px;
                height: 504px;
                width: 344px;
            }

            .swiper-slide {
                text-align: center;
                display: -webkit-box;
                display: -ms-flexbox;
                display: -webkit-flex;
                display: flex;
                -webkit-box-pack: center;
                -ms-flex-pack: center;
                -webkit-justify-content: center;
                justify-content: center;
                -webkit-box-align: center;
                -ms-flex-align: center;
                -webkit-align-items: center;
                align-items: center;
                width: auto;
                // height: vw(504px);
                -webkit-transform: scale(1);
                transform: scale(1);
                transition: -webkit-transform 0.3s linear;
                transition: transform 0.3s linear;
                transition: transform 0.3s linear, -webkit-transform 0.3s linear;

                img {
                    width: 100%;
                    height: 100%;
                }

            }

            .swiper-slide:before{
                content: '';
                position: absolute;
                z-index: 1;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: rgba(0, 0, 0, 0.5);
                transition: all 0.5s;
            }

            .swiper-slide-active{
                display: inline-block;
                vertical-align: middle;
                z-index: 2;
                height: 630px;
                width: 430px;
                margin-top: -63px;
                -webkit-transform: scale(1.01);
                transform: scale(1.01);
            }

            .swiper-slide-active:before {
                display: none;
            }
        }

        .about-heritage__slide--year {
            width: 589px;
            margin-top: 53px;
            padding: 0 58px;
            cursor: pointer;

            .swiper-slide {
                font-size: 28px;
                color: #8d8d8d;
                text-align: center;
            }

            .swiper-slide-active {
                font-weight: bold;

                &.slide1969 {color:#e21886;}
                &.slide1974 {color:#921439;}
                &.slide1981 {color:#c91d33;}
                &.slide1982 {color:#eb1829;}
                &.slide1984 {color:#f2412d;}
                &.slide1990 {color:#f36f27;}
                &.slide1993 {color:#d38f2c;}
                &.slide1995 {color:#d7a427;}
                &.slide1998 {color:#f7a02d;}
                &.slide2005 {color:#ffb80c;}
                &.slide2006 {color:#38b348;}
                &.slide2007 {color:#289f45;}
                &.slide2012-01 {color:#457b3d;}
                &.slide2012-02 {color:#00b1dd;}
                &.slide2012-03 {color:#0380c3;}
                &.slide2016 {color:#055592;}
                &.slide2017 {color:#192f61;}
            }

            .swiper-button-prev {
                width: 58px;
                left: 0;
                transform: translateY(-50%);
                margin-top: 0 !important;
                background-color: #fff;
            }

            .swiper-button-next {
                width: 58px;
                right: 0;
                transform: translateY(-50%);
                margin-top: 0 !important;
                background-color: #fff;
            }

            .swiper-button-prev::after{
                display: inline-block;
                width: 72px;
                height: 32px;
                background: url("/images/about/heritage/arrow_prev.jpg") no-repeat left;
                background-size: contain;
                font-size: 0;
            }

            .swiper-button-next::after{
                display: inline-block;
                width: 72px;
                height: 32px;
                background: url("/images/about/heritage/arrow_next.jpg") no-repeat right;
                background-size: contain;
                font-size: 0;
            }
        }
    }

    &__text {
        position: absolute;
        right: 38px;
        display: block;
        padding-top: 18px;
        text-align: right;
        color: #8d8d8d;
        font-size: 15px;
        line-height: 32px;
    }
}

/* 재무제표 */
.ir-wrap--tab {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    padding-bottom: 100px;
    font-size: 0;

    li {
        display: inline-block;
        position: relative;
        width: calc(33.33% - 5px);
        height: 67px;
        margin-left: 5px;
        background-color: #cdcdcd;
        text-align: center;
        cursor: pointer;
        line-height: 67px;

        a {
            display: block;
            color: #fff;
            font-size: 20px;
        }

        &.on {
            background-color: #fff;
            font-weight: bold;

            a {
                color: $titleColor;
            }

            &::after {
                content: "";
                position: absolute;
                bottom:0;
                left: 0;
                width: 100%;
                height: 5px;
                background-color: $titleColor;
            }

            &:hover {
                background-color: #fff;
            }
        }

        &:hover {
            background-color: #cccfdc;
        }
    }
}

/* 재무제표 table*/
.about-ir-list {
    &__section {
        max-width: 1400px;
        padding-bottom: 100px;
        margin: 0 auto;

        .about-ir__table {
            max-width: 80%;
            margin: auto;

            h3 {
                margin-bottom: 20px;
                font-size: 25px;
                text-align: center;
            }

            th {
                padding: 15px;
                font-size: 15px;
                line-height: 1;
                border: 2px solid #000;
            }

            td {
                padding: 15px;
                color: #444444;
                font-size: 15px;
                line-height: 1;
                border: 2px solid #b7b7b7;
            }
        }
    }
}

/* aboutUs - 전자공고 상세보기 */
.ir-board-detail {
    &__title {
        font-size: 30px;
        color: #2a2a2a;
        line-height: 42px;
        word-break: keep-all;
    }

    &__date {
        display: block;
        margin-top: 13px;
        font-size: 14px;
        color: #2a2a2a;
        line-height: 1;

        span {
            display: inline-block;
            width: 1px;
            height: 14px;
            margin: 1px 6px 0 7px;
            background-color: #2a2a2a;
            vertical-align: top;
        }
    }

    .ir-board-file-box {
        margin-top: 64px;
        padding: 4px 0 0 46px;
        background: url("/images/common/icon_filedown.png")no-repeat left top / 30px 31px;
    }

    &__download {
        display: inline-block;
        padding-bottom: 6px;
        color: #002d55;
        font-size: 19px;
        line-height: 1;
        border-bottom: 2px solid #a3abb6;
    }

    &__contents {
        margin-top: 30px;
        font-size: 18px;
        color: #2a2a2a;
        line-height: 32px;
        word-break: keep-all;
    }
}

/* 웹 1600 사이즈 */
@media all and (max-width: 1600px) {
    @import "./lib/webvw";

    /* aboutUs - storyNews - CI */
    .about-ci {
        &__contents {
            padding: vw(100px) 0 vw(160px);
        }

        &__title {
            h2 {
                padding: vw(80px) 0;

                p {
                    margin-top: vw(15px);
                    font-size: vw(20px);
                    line-height: vw(30px);
                }
            }
        }

        &__identity {
            padding-right: vw(150px);

            &--area {
                h3 {
                    padding-bottom: vw(19px);
                    font: {
                        size: vw(25px);
                    }
                    border-bottom: vw(2px) solid $titleColor;
                }

                p {
                    padding-top: vw(19px);
                    font-size: vw(18px);
                    line-height: vw(32px);
                    letter-spacing: vw(-0.63px);
                }
            }

            &--orientation {
                margin-top: vw(50px);
            }
        }

        &__img {
            height: vw(501px);
        }
    }

    /* aboutUs - storyNews - News */
    .about-storyNews {
        &__title {
            padding: vw(60px) 0 vw(50px);
        }

        &__contents {
            max-width: vw(1614px);
            padding: vw(60px) 0 vw(90px);
        }

        &__list {
            &-item {
                margin-bottom: vw(20px);
                margin-right: vw(42px);

                &--text {
                    padding: vw(19px 25px);
                }

                figure {
                    height: vw(298px);
                }

                h3 {
                    padding: vw(9px 0 21px 10px);
                    font: {
                        size: vw(25px);
                    }

                    &:before {
                        width: vw(10px);
                        height: vw(10px);
                    }
                }

                p {
                    height: vw(50px);
                    padding-left: vw(10px);
                    font : {
                        size: vw(18px);
                    }
                }
            }
        }
        .pagination {
            margin-top: vw(60px);
        }
    }

    /* aboutUs - ceoMessage*/
    .about-ceo {
        &__contents {
            padding: 0 0 vw(72px) vw(1173px);
            margin-top: vw(103px);
            background: url("/images/about/img_ceo.jpg") no-repeat left top/ vw(1079px) vw(620px);
        }

        &__title {
            padding-bottom: vw(35px);
            font: {
                size: vw(25px);

            }
            line-height: vw(34px);
        }

        &__text {
            width: vw(584px);
            padding-right: 0;
            padding-top: vw(35px);
            font-size: vw(18px);
            line-height: vw(32px);
            p {
                padding-bottom: vw(15px);
            }
        }
    }

    /* aboutUs - location */
    .about-location {

        &__tab {
            width: vw(940px);
            padding-bottom: vw(70px);
        }

        &__title {
            height: vw(150px);
        }

        &__swiper {
            height: vw(500px);

            .swiper-button {
                width: vw(79px);
                height: vw(79px);
            }

            .swiper-pagination {
                bottom: vw(30px) !important;
            }

            .swiper-pagination-bullet {
                width: vw(17px);
                height: vw(17px);
            }

        }

        &__contents {
            padding-bottom: vw(110px);
            width: vw(890px);
            margin: 0 auto;
        }

        &__info {
            padding-top: vw(20px);
            padding-bottom: vw(20px);

            &--map {
                width: 50%;
                height: vw(345px);
            }

            &--address {
                padding-top: vw(40px);
                padding-left: vw(45px);
                width: vw(400px);

                p {
                    width: vw(370px);
                    font-size: vw(25px);
                    line-height: vw(37px);
                }

                dl {
                    padding-top: vw(32px);

                    dt {

                        font : {
                            size: vw(18px);
                        }
                        line-height: vw(32px);

                        &::after {
                            width: vw(2px);
                            height: vw(15px);
                            margin: 0 vw(7px);
                        }

                    }

                    dd {
                        width: vw(280px);
                        font-size: vw(18px);
                    }
                }
            }
        }

        &__video {
            width: vw(890px);
            height: vw(500px);
        }
    }

    /* aboutUs - heritage */
    .about-heritage {
        &__top-img {
            height: vw(270px);
        }

        &__contents {
            max-width: vw(1376px);
            padding-bottom: vw(200px);
        }

        &__info {
            padding: vw(88px 770px 220px 0);
            background-size: vw(490px 560px);

            &--title {
                padding-bottom: vw(34px);
                font-size: vw(25px);
                line-height: vw(37px);
            }

            &--text {
                font-size: vw(18px);
                line-height: vw(32px);
            }
        }

        &__slide {
            padding-top: vw(200px);

            .about-heritage__slide--img {
                width: vw(837px);
                height: vw(630px);

                .swiper-wrapper {
                    padding-top: vw(63px);
                    height: vw(504px);
                    width: vw(344px);
                }

                .swiper-slide-active{
                    height: vw(630px);
                    width: vw(430px);
                    margin-top: vw(-63px);
                }
            }

            .about-heritage__slide--year {
                width: vw(589px);
                margin-top: vw(53px);
                padding: 0 vw(58px);

                .swiper-slide {
                    font-size: vw(28px);
                }

                .swiper-button-prev {
                    width: vw(58px);
                }

                .swiper-button-next {
                    width: vw(58px);
                }

                .swiper-button-prev::after{
                    width: vw(72px);
                    height: vw(32px);
                }

                .swiper-button-next::after{
                    width: vw(72px);
                    height: vw(32px);
                }
            }
        }

        &__text {
            right: vw(38px);
            padding-top: vw(18px);
            font-size: vw(15px);
            line-height: vw(32px);
        }
    }

    /* 재무제표 */
    .ir-wrap--tab {
        li {
            a {
                font-size: vw(30px);
            }
        }
    }

}

/*태블릿 세로 사이즈*/
@media all and (min-width:768px) and (max-width:1024px) {
    @import "./lib/webvw";
    .about-ir {
        &__link {
            margin-top: vw(60px);
            a.link,
            button {
                padding: vw(28px 48px 24px);
                font-size: vw(26px);
            }
        }

        .about-ir__table {
            // margin-top: vw(200px);

            th {
                padding: vw(30px);
                font-size: vw(30px);
                border: vw(2px) solid #000;
            }

            td {
                padding: vw(30px);
                font-size: vw(30px);
                border: vw(2px) solid #b7b7b7;
            }

        }
    }

    /* aboutUs - storyNews - CI */
    .about-ci {
        &__title {
            h2 {
                p {
                    margin-top: vw(30px);
                    font-size: vw(40px);
                    line-height: vw(60px);
                }
            }
        }

        &__identity {
            &--area {
                h3 {
                    font: {
                        size: vw(60px);
                    }
                }

                p {
                    font-size: vw(36px);
                    line-height: vw(64px);
                }
            }
        }
    }

    /* aboutUs - storyNews - News */
    .about-storyNews {
        &__contents {
            max-width: vw(1600px);
            position: relative;
        }

        &__list {

            &-item {
                width: calc(50% - 2.6%);
                margin-bottom: vw(53px);

                &--text {
                    padding: vw(38px 50px);
                }

                figure {
                    height: vw(600px);
                }

                h3 {
                    font: {
                        size: vw(50px);
                    }
                }

                p {
                    height: vw(100px);
                    font : {
                        size: vw(36px);
                    }
                }
            }
        }

        &__top-btn {
            display: inline-block;
            position: fixed;
            bottom: vw(40px);
            right: 5%;
            width: vw(140px);
            height: vw(140px);
            border: 1px solid #bebebe;
            color: #000;
            font: {
                size: vw(35px);
                weight: vw(bold);
            }
            text-align: center;
            line-height: vw(200px);
            cursor: pointer;
            background:#fff url("/images/about/m/icon_top.jpg") no-repeat center vw(30px);
        }

        .pagination {
            margin-top: vw(120px);
        }
    }

    /* aboutUs - storyNews - News 상세보기*/
    .storyNews-detail {
        &__contents {
            max-width: vw(2194px);
        }

        &__section {
            padding: vw(160px 30px 200px);
        }

        &__title {
            padding-left: vw(30px);
            font-size: vw(80px);
            line-height: vw(100px);

            &::before{
                width: vw(30px);
                height: vw(30px);
            }
        }

        &__box {
            padding: vw(0 30px);
        }

        &__date{
            padding: vw(96px 0 120px);

            time {
                font-size: vw(28px);
                padding-right: vw(9px);
                &::after{
                    height: vw(26px);
                }
            }

            span {
                font-size: vw(28px);
                padding-left: vw(9px);
            }
        }

        &__img {
            height: vw(920px);
        }

        &__text {
            padding-top: vw(92px);

            p {
                font-size: vw(32px);
                line-height: vw(56px);
            }
        }
    }

    /* aboutUs - ceoMessage*/
    .about-ceo {
        &__contents {
            padding: vw(1200px 60px 72px);
            margin-top: 0;
            font-size: 0;
            background: url("/images/about/m/img_ceo.jpg") no-repeat left top/ 100%;
        }

        &__title {
            padding-bottom: vw(70px);
            font: {
                size: vw(50px);
            }
            line-height: vw(68px);
            word-break: keep-all;
        }

        &__text {
            width: 100%;
            padding-right: 0;
            padding-top: vw(70px);
            font-size: vw(36px);
            line-height: vw(64px);
        }
    }

    /* aboutUs - location */
    .about-location {

        &__tab {
            width: vw(1880px);
            padding-bottom: vw(70px);
        }

        &__title {
            height: vw(300px);
        }

        &__swiper {
            height: vw(1000px);
        }

        &__contents {
            padding-bottom: vw(110px);
            width: vw(1780px);
            margin: 0 auto;
            background-color: #fff;
        }

        &__info {

            &--map {
                height: vw(690px);
            }

            &--address  {
                padding-top: vw(40px);
                padding-left: vw(45px);
                width: vw(800px);

                h3 {
                    display: none;
                }

                p {
                    width: 100%;
                    font-size: vw(50px);
                    line-height: vw(74px);
                }

                dl {

                    dt {
                        font-size: vw(36px);
                        line-height: vw(64px);

                        &::after {
                            content: "";
                            display: inline-block;
                            width: vw(4px);
                            height: vw(30px);
                            margin: 0 vw(14px);
                            background-color: #535353;
                            vertical-align: middle;
                        }
                    }

                    dd {
                        width: vw(560px);
                        font-size: vw(36px);
                    }
                }
            }
        }

        &__video {
            width: 100%;
            height: vw(1000px);
        }
    }

    /* aboutUs - heritage */
    .about-heritage {

        &__contents {
            max-width: vw(1600px);
            margin: 0 auto;
            padding-bottom: vw(200px);
        }

        &__info {
            padding: vw(88px 800px 220px 0);
            background-size: vw(735px 840px);

            &--title {
                padding-bottom: vw(68px);
                font-size: vw(50px);
                line-height: vw(74px);
                word-break: keep-all;

                br {
                    display: none;
                }
            }

            &--text {
                font-size: vw(30px);
                line-height: vw(64px);
                word-break: keep-all;

                br{
                    display: none;
                }
            }
        }

        &__slide  {
            padding-top: vw(400px);

            .about-heritage__slide--img {
                width: vw(1674px);
                height: vw(1260px);

                .swiper-wrapper {
                    padding-top: vw(126px);
                    height: vw(1008px);
                    width: vw(688px);
                }

                .swiper-slide-active {
                    height: vw(1260px);
                    width: vw(860px);
                    margin-top: vw(-126px);
                }
            }

            .about-heritage__slide--year {
                width: vw(1178px);
                margin-top: vw(106px);
                padding: 0 vw(116px) !important;

                .swiper-slide {
                    font-size: vw(56px);
                }

                .swiper-button-prev,
                .swiper-button-next {
                    width: vw(116px);
                }

                .swiper-button-prev::after,
                .swiper-button-next::after {
                    width: vw(144px);
                    height: vw(64px);
                }
            }
        }

        &__text {
            right: vw(76px);
            padding-top: vw(36px);
            font-size: vw(30px);
            line-height: vw(64px);
        }
    }

     /* 재무제표 */
     .ir-wrap--tab {
        li {
            a {
                font-size: vw(30px);
            }
        }
    }
}

/* 모바일 사이즈 */
@media all and (max-width: 767px) {
    @import "./lib/vw";

    /* aboutUs - storyNews - CI */
    .about-ci {
        &__title {
            h2 {
                p {
                    margin-top: vw(30px);
                    font-size: vw(24px);
                    line-height: vw(41px);
                }
            }
        }
        &__contents {
            max-width: 100%;
            padding: vw(0 69px 88px);
        }

        &__identity {
            display: block;
            width: 100%;
            padding-right: 0;

            &--area {
                h3 {
                    padding-top: vw(69px);
                    padding-bottom: vw(44px);
                    font-size: vw(36px);
                }

                p {
                    font-size: vw(22px);
                    line-height: vw(37px);
                }
            }
        }

        &__img {
            display: block;
            width: 100%;
            height: vw(959px);
            margin-top: vw(50px);
            background: url("/images/about/m/m_img_ci.jpg") no-repeat center / contain;
        }
    }

    /* aboutUs - storyNews - News */
    .about-storyNews {
        &__contents {
            max-width: vw(610px);
            padding-bottom: vw(120px);
        }

        &__title {
            padding: vw(86px 0 84px);
            font-size: vw(45px);
        }

        &__list {
            ul {
                margin-right:0;
            }

            &-item {
                float: initial;
                width: 100%;
                margin-bottom: vw(53px);

                &--text {
                    padding: vw(18px 36px 37px);
                }

                figure {
                    height: vw(343px);
                }

                h3 {
                    padding-top: vw(14px);
                    padding-left: vw(9px);
                    font: {
                        size: vw(30px);
                    }

                    &:before {
                        width: vw(13px);
                        height: vw(13px);
                    }
                }

                p {
                    height: vw(70px);
                    padding-left: vw(9px);
                    font : {
                        size: vw(20px);
                    }
                    line-height: vw(35px);
                }
            }
        }

        &__top-btn {
            display: inline-block;
            position: fixed;
            bottom: vw(40px);
            right: 5%;
            padding: vw(48px) 0 vw(12px);
            width: vw(77px);
            border: 1px solid #bebebe;
            color: #000;
            font: {
                size: vw(20px);
                weight: vw(bold);
            }
            text-align: center;
            cursor: pointer;
            background: #fff url("/images/about/m/icon_top.jpg") no-repeat center vw(15px);
            background-size: vw(37px) vw(21px);
            line-height: 1;
        }

        .pagination {
            margin-top: vw(60px);
        }
    }

     /* aboutUs - storyNews - News 상세보기*/
     .storyNews-detail {
        &__contents {
            max-width: vw(750px);
        }

        &__section {
            padding: vw(63px 68px 100px);
        }

        &__title {
            padding-left: 0;
            padding-top: vw(30px);
            font-size: vw(52px);
            line-height: vw(72px);

            &::before{
                width: vw(13px);
                height: vw(13px);
                background-color: #2b4985;
            }
        }

        &__box {
            padding: vw(0 30px);
        }

        &__date{
            padding: vw(30px 0 40px);

            time {
                font-size: vw(27px);
                padding-right: vw(9px);
                color: #929292;

                &::after{
                    height: vw(26px);
                    background-color: #929292;;
                }
            }

            span {
                font-size: vw(27px);
                padding-left: vw(9px);
                color: #929292;
            }
        }

        &__img {
            height: vw(345px);
        }

        &__text {
            padding-top: vw(54px);

            p {
                font-size: vw(24px);
                line-height: vw(37px);
            }
        }
    }

    /* aboutUs - ceoMessage*/
    .about-ceo {
        &__contents {
            padding: vw(502px 65px 150px);
            margin-top: 0;
            font-size: 0;
            background: url("/images/about/m/img_ceo.jpg") no-repeat left top;
            background-size: 100%;
        }

        &__title {
            padding-bottom: vw(36px);
            font-size: vw(36px);
            line-height: vw(60px);
        }

        &__text {
            width: 100%;
            padding-right: 0;
            padding-top: vw(50px);
            font-size: vw(22px);
            line-height: vw(37px);
        }
    }

    /* aboutUs - location */
    .about-location {
        &__tab {
            width: 100%;
            padding-bottom: 0;
        }

        &__contents {
            padding-bottom: vw(60px);
            width: 100%;
            margin: 0;
        }

        &__title {
            height: vw(238px);

            h2 {
                font-size: vw(47px);
            }
        }

        &__swiper {
            height: vw(439px);

            .swiper-button {
                width: vw(79px);
                height: vw(79px);
            }

            .swiper-pagination-bullet {
                width: vw(17px);
                height: vw(17px);
            }
        }

        &__info {
            padding-top: 0;
            // display: block;
            // position: relative;
            // padding: 0 0 vw(100px);

            &--map {
                display: block;
                width: 100%;
                height: vw(447px);
            }

            &--address  {
                float: initial;
                display: block;
                padding: 0;
                width: 100%;
                box-sizing: border-box;

                .text-top {
                    padding: vw(47px 133px 54px);
                    background-color: #f6f6f6;
                }

                .text-bottom {
                    padding: vw(31px 120px 53px);
                    background-color: #fff;
                }

                h3 {
                    display: block;
                    margin-bottom: vw(9px);
                    color: $titleColor;
                    font: {
                        size: vw(47px);
                        weight: bold;
                    }
                }

                p {
                    width: 100%;
                    font-size: vw(27px);
                    line-height: vw(45px);
                    color: $titleColor;
                }

                dl {

                    dt {
                        font-size: vw(21px);
                        line-height: vw(37px);

                        &::after {
                            content: "";
                            display: inline-block;
                            width: vw(3px);
                            height: vw(19px);
                            margin: 0 vw(14px);
                            background-color: #535353;
                            vertical-align: middle;
                        }
                    }

                    dd {
                        width: vw(347px);
                        font-size: vw(21px);
                    }
                }
            }
        }

        &__video {
            display: none;
            width: 100%;
            height: vw(426px);

            &.m-video {
                display: block;
                margin-bottom: 0;
            }
        }
    }

    /* aboutUs - heritage */
    .about-heritage {
        &__top-img {
            height: vw(232px);
        }

        &__contents {
            max-width: 100%;
        }

        &__info {
            padding: vw(472px 0 0);
            background: url("/images/about/heritage/m_img_right.jpg")no-repeat right top;
            background-size: 100% vw(409px);
            text-align: center;

            &--title {
                padding-bottom: vw(30px);
                color: $titleColor;
                font-size: vw(30px);
                line-height: vw(48px);

                span {
                    color: #000;
                }
            }

            &--text {
                font-size: vw(20px);
                line-height: vw(37px);
            }
        }

        &__slide  {
            padding-top: vw(140px);

            .about-heritage__slide--img {
                width: vw(682px);
                height: vw(620px);

                .swiper-wrapper {
                    padding-top: vw(63px);
                    height: vw(504px);
                    width: vw(344px);
                }

                .swiper-slide {
                    text-align: center;
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: -webkit-flex;
                    display: flex;
                    -webkit-box-pack: center;
                    -ms-flex-pack: center;
                    -webkit-justify-content: center;
                    justify-content: center;
                    -webkit-box-align: center;
                    -ms-flex-align: center;
                    -webkit-align-items: center;
                    align-items: center;
                    width: auto;
                    // height: vw(504px);
                    -webkit-transform: scale(1);
                    transform: scale(1);
                    transition: -webkit-transform 0.3s linear;
                    transition: transform 0.3s linear;
                    transition: transform 0.3s linear, -webkit-transform 0.3s linear;

                    img {
                        width: 100%;
                        height: auto;
                    }

                }

                .swiper-slide:before{
                    content: '';
                    position: absolute;
                    z-index: 1;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background: rgba(0, 0, 0, 0.5);
                    transition: all 0.5s;
                }

                .swiper-slide-active{
                    display: inline-block;
                    vertical-align: middle;
                    z-index: 2;
                    height: vw(630px);
                    width: vw(430px);
                    margin-top: vw(10px);
                    -webkit-transform: scale(1.01);
                    transform: scale(1.2);
                }

                .swiper-slide-active:before {
                    display: none;
                }
            }

            .about-heritage__slide--year {
                width: vw(587px);
                margin-top: vw(60px);
                padding: 0 vw(30px) !important;

                .swiper-slide {
                    font-size: vw(28px);
                }

                .swiper-button-prev,
                .swiper-button-next {
                    width: vw(30px);
                }

                .swiper-button-prev::after,
                .swiper-button-next::after {
                    width: vw(30px);
                    height: vw(20px);
                }
            }
        }

        &__text {
            position: initial;
            display: block;
            padding-top: vw(68px);
            text-align: right;
            color: #8d8d8d;
            font-size: vw(17px);
            line-height: vw(33px);
            text-align: center;
        }
    }

    /* 재무제표 */
    .ir-wrap--tab {
        padding-bottom: 20px;

        li {
            position: relative;
            width: calc(33.33% - #{vw(5px)});
            margin-left: vw(5px);
            height: vw(67px);
            line-height: normal;
            vertical-align: top;

            a {
                position: absolute;
                width: 100%;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                font-size: vw(13px);
            }


            &.on::after {
                height: vw(5px);
            }

        }
    }

    /* 재무제표 table*/
    .about-ir-list {
        &__section {
            max-width: 100%;
        }

        &__table {
            padding: vw(0 20px 78px);
            h3 {
                margin-bottom: vw(34px);
                font-size: vw(38px);
            }

            th {
                padding: vw(20px 0);
                font-size: vw(27px);
                line-height: 1;
                border: vw(2px) solid #000;
            }

            td {
                padding: vw(20px 0);
                font-size: vw(22px);
                border: vw(2px) solid #b7b7b7;
            }
        }

        .about-ir__table {
            // margin-top: vw(50px);
        }
    }

    .about-ir {
        &__table {
            max-width: 92%;
        }

        .about-ir__table {

            th {
                padding: vw(25px);
                font-size: vw(25px);
            }

            td {
                padding: vw(25px 0);
                font-size: vw(25px);
            }

        }
    }

    /* aboutUs - 전자공고 상세보기 */
    .ir-board-detail {
        max-width: 100%;
        padding: vw(0 69px 88px);

        &__title {
            font-size: vw(30px);
            line-height: vw(42px);
        }

        &__date {
            margin-top: vw(13px);
            font-size: vw(20px);

            span {
                height: vw(20px);
                margin: vw(1px 6px 0 7px);
            }
        }

        .ir-board-file-box {
            margin-top: vw(50px);
            padding: vw(4px 0 0 46px);
            background: url("/images/common/icon_filedown.png")no-repeat left top / vw(30px) vw(31px);
        }

        &__download {
            padding-bottom: vw(6px);
            font-size: vw(25px);
            border-bottom: vw(2px) solid #a3abb6;
        }

        &__contents {
            margin-top: vw(30px);
            font-size: vw(25px);
            line-height: vw(32px);
        }

        &__img {
            padding-top: vw(30px);
        }
    }

}
