/* aboutUs - storyNews - CI */
.about-ci {
    &__contents {
        display: table;
        padding:100px 0 160px;
    }

    &__title {
        h2 {
            padding: 80px 0;
            line-height: 1;
        }
    }

    &__identity {
        display: table-cell;
        width: 50%;
        padding-right: 150px;

        &--area {
            h3 {
                display: block;
                padding-bottom: 19px;
                color: $titleColor;
                font: {
                    size: 25px;
                    weight: bold;
                }
                line-height: 1;
                border-bottom: 2px solid $titleColor;
            }

            p {
                display: block;
                padding-top: 19px;
                color: #535353;
                font-size: 18px;
                line-height: 32px;
                letter-spacing: -0.63px;
                word-break: keep-all;
            }
        }

        &--orientation {
            margin-top: 50px;
        }
    }

    &__img {
        display: table-cell;
        width: 50%;
        background: url("/images/about/web_img_ci.png") no-repeat center / contain;
    }
}

/* aboutUs - storyNews - News */
.about-storyNews {
    &__title {
        padding: 60px 0 50px;
    }

    &__contents {
        max-width: 1614px;
        padding: 60px 0 90px;
        margin: 0 auto;
    }

    &__list {
        width: 100%;
        font-size: 0;
        @extend %clear;

        ul {
            margin-right: - 2.6%;
        }

        &-item {
            float: left;
            width: calc(33.33% - 2.6%);
            margin-bottom: 20px;
            border: 1px solid #ccc;
            box-sizing: border-box;
            margin-right: 42px;

            &--text {
                padding: 19px 25px;
            }

            figure {
                width: 100%;
                height: 298px;
                border-bottom: 1px solid #ccc;
                background-size: cover;
                background-position: center;

                img {
                    width: 100%;
                    height: 100%;
                }
            }

            h3 {
                display: block;
                padding: 9px 0 21px 10px;
                position: relative;
                color: #2a2a2a;
                font: {
                    size: 25px;
                    weight: bold;
                }
                line-height: 1;
                @include line(1);

                &:before {
                    content:"";
                    display: block;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 10px;
                    height: 10px;
                    border-radius: 50%;
                    background-color: #3767c7;
                }
            }

            p {
                display: block;
                height: 50px;
                padding-left: 10px;
                color: #2a2a2a;

                font : {
                    size: 18px;
                    weight: 400;
                }
                @include line(2);
            }

            &:last-child {
                margin-right: 0;
            }
        }
    }

    &__top-btn {
        display: none;
        font-size: 0;
    }

    .pagination {
        margin-top: 60px;
    }
}

/* aboutUs - ceoMessage*/
.about-ceo {
    &__contents {
        padding: 0 0 72px 1173px;
        margin-top: 103px;
        font-size: 0;
        background: url("/images/about/img_ceo.jpg") no-repeat left top/ 1079px 620px;
    }

    &__title {
        padding-bottom: 35px;
        color: #000;
        font: {
            size: 25px;
            weight: 400;
        }
        border-bottom: 1px solid $titleColor;
        line-height: 34px;

        em {
            color: $titleColor;
            font-weight: bold;
        }

        span {
            font-weight: bold;
        }
    }

    &__text {
        width: 584px;
        padding-top: 35px;
        color: #2a2a2a;
        font-size: 18px;
        line-height: 32px;

        p {
            padding-bottom: 15px;
            word-break: keep-all;
        }
    }
}

/* aboutUs - location */
.about-location {

    &__title {
        position: static;
        height: 400px;

        h2 {
            padding-top: 57px;
        }
    }

    &__swiper {
        height: 500px;

        img {
            width: 100%;
            height: 100%;
        }

        .swiper-button {
            width: 79px;
            height: 79px;
            font-size: 0;

            &::after {
                display: none;
            }
        }
        .swiper-button-next {
            background: url("/images/about/location_next.png")no-repeat;
            background-size: contain;
        }

        .swiper-button-prev {
            background: url("/images/about/location_prev.png")no-repeat;
            background-size: contain;
        }

        .swiper-pagination {
            bottom: 30px !important;
        }

        .swiper-pagination-bullet {
            width: 17px;
            height: 17px;
            background-color: #4e4e4e;
            opacity: 1;

            &.swiper-pagination-bullet-active {
                background-color: #fff;
            }
        }

    }

    &__contents {
        width: 890px;
        margin: -258px auto 0;
        background-color: #fff;
    }

    &__info {
        display: table;
        width: 100%;
        padding-top: 20px;
        padding-bottom: 62px;
        @extend %clear;

        &--map {
            display: table-cell;
            // float: left;
            width: 50%;
            height: 345px;
        }

        &--address {
            display: table-cell;
            width: 50%;
            padding-left: 50px;
            vertical-align: middle;

            p {
                display: block;
                width: 370px;
                color: #000;
                font-size: 25px;
                word-break: keep-all;
                line-height: 37px;

                em {
                    font-weight: bold;
                }
            }

            dl {
                display: block;
                padding-top: 32px;

                dt {
                    display: inline-block;
                    color: #535353;
                    font : {
                        size: 18px;
                        weight: bold;
                    }
                    line-height: 32px;

                    &::after {
                        content: "";
                        display: inline-block;
                        width: 2px;
                        height: 15px;
                        margin: 0 7px;
                        background-color: #535353;
                        vertical-align: middle;
                    }

                }

                dd {
                    display: inline-block;
                    font-size: 18px;
                    color: #535353;
                }
            }
        }

        &--video {
            margin-top: 20px;
        }
    }
}

/* aboutUs - heritage */
.about-heritage {
    &__top-img {
        display: block;
        width: 100%;
        height: 270px;
        background: url("/images/about/heritage/img_top.jpg")no-repeat;
        background-size: cover;
    }

    &__contents {
        max-width: 1376px;
        margin: 0 auto;
        padding-bottom: 200px;
    }

    &__info {
        padding: 88px 831px 220px 0;
        background: url("/images/about/heritage/img_right.jpg")no-repeat right top / contain;

        &--title {
            display: block;
            padding-bottom: 34px;
            color: $titleColor;
            font-size: 25px;
            font-weight: bold;
            line-height: 37px;
        }

        &--text {
            display: block;
            color: #383838;
            font-size: 18px;
            line-height: 32px;
            word-break: keep-all;
        }
    }

    &__slide {
        padding-top: 200px;

        .about-heritage__slide--img {
            width: 837px;
            height: 630px;

            .swiper-wrapper {
                padding-top: 63px;
                height: 504px;
                width: 344px;
            }

            .swiper-slide {
                text-align: center;
                display: -webkit-box;
                display: -ms-flexbox;
                display: -webkit-flex;
                display: flex;
                -webkit-box-pack: center;
                -ms-flex-pack: center;
                -webkit-justify-content: center;
                justify-content: center;
                -webkit-box-align: center;
                -ms-flex-align: center;
                -webkit-align-items: center;
                align-items: center;
                width: auto;
                // height: vw(504px);
                -webkit-transform: scale(1);
                transform: scale(1);
                transition: -webkit-transform 0.3s linear;
                transition: transform 0.3s linear;
                transition: transform 0.3s linear, -webkit-transform 0.3s linear;

                img {
                    width: 100%;
                    height: 100%;
                }

            }

            .swiper-slide:before{
                content: '';
                position: absolute;
                z-index: 1;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: rgba(0, 0, 0, 0.5);
                transition: all 0.5s;
            }

            .swiper-slide-active{
                display: inline-block;
                vertical-align: middle;
                z-index: 2;
                height: 630px;
                width: 430px;
                margin-top: -63px;
                -webkit-transform: scale(1.01);
                transform: scale(1.01);
            }

            .swiper-slide-active:before {
                display: none;
            }
        }

        .about-heritage__slide--year {
            width: 589px;
            margin-top: 53px;
            padding: 0 58px;

            .swiper-slide {
                font-size: 28px;
                color: #8d8d8d;
                text-align: center;
            }

            .swiper-slide-active {
                font-weight: bold;

                &.slide1969 {color:#e21886;}
                &.slide1974 {color:#921439;}
                &.slide1981 {color:#c91d33;}
                &.slide1982 {color:#eb1829;}
                &.slide1984 {color:#f2412d;}
                &.slide1990 {color:#f36f27;}
                &.slide1993 {color:#d38f2c;}
                &.slide1995 {color:#d7a427;}
                &.slide1998 {color:#f7a02d;}
                &.slide2005 {color:#ffb80c;}
                &.slide2006 {color:#38b348;}
                &.slide2007 {color:#289f45;}
                &.slide2012-01 {color:#457b3d;}
                &.slide2012-02 {color:#00b1dd;}
                &.slide2012-03 {color:#0380c3;}
                &.slide2016 {color:#055592;}
                &.slide2017 {color:#192f61;}
            }

            .swiper-button-prev {
                width: 58px;
                left: 0;
                background-color: #fff;
            }

            .swiper-button-next {
                width: 58px;
                right: 0;
                background-color: #fff;
            }

            .swiper-button-prev::after{
                display: inline-block;
                width: 72px;
                height: 32px;
                background: url("/images/about/heritage/arrow_prev.jpg") no-repeat left;
                background-size: contain;
                font-size: 0;
            }

            .swiper-button-next::after{
                display: inline-block;
                width: 72px;
                height: 32px;
                background: url("/images/about/heritage/arrow_next.jpg") no-repeat right;
                background-size: contain;
                font-size: 0;
            }
        }
    }

    &__text {
        position: absolute;
        right: 38px;
        display: block;
        padding-top: 18px;
        text-align: right;
        color: #8d8d8d;
        font-size: 15px;
        line-height: 32px;
    }
}

.about-ir {
    //background-color: #AAA;

    &__nav {
        text-align: center;

        .about-ir__li{
            width: 20%;
            display: inline-block;
            margin-top: 20px;
            height: 50px;
        }
        // height: 400px;

        // h2 {
        //     padding-top: 57px;
        // }
    }
    .contents-wrap__section{
        text-align: center;
    }
    &__chart {
        width: 45%;
        display: inline-block;

        h3{
            width:100%;
            text-align: center;
        }
        h6{
            width:100%;
            text-align: center;
            font-size: 70%;
        }
        div{
            width:100%;
            height:200px
        }
    }
    &__table {
        width: 500px;
        display: inline-block;

        h3{
            text-align: center;
        }
    }

    #about-ir__board {

        h3{
            text-align: center;
        }
        .about-ir__no {
            width: 8%;
        }
        .about-ir__fixed {
            table-layout: fixed;
        }
        .ir-contents{
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
        .ir-contents p{
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
    }
    &__link {
        text-align: center;
        button {
            width: 20%;
            display: inline-block;
            margin-top: 20px;
            height: 50px;
        }
    }
    #ir_board_info {
        text-align: center;
        .info{
            width: 40%;
            display: inline-block;
            vertical-align: top;
            margin: 10px;
        }
        .info h1{
            width:100%;
            text-align: left;
            font-size: 200%;
        }
        .info .name{
            width:100%;
            text-align: left;
            font-size: 70%;
        }
        .ir-board-file-box{
            width: 100%;
            display: inline-table;
            text-align: left;
        }
        .btn-download{
            text-align: left;
            display: inline-block;
        }

        .btn-download span{
            text-align: left;
            font-size: 100%;
            color: #1d3669;
        }
        .ir-board-contents{
            width:100%;
        }
        .img{
            display: inline-table;
            vertical-align: top;
            margin: 10px;
            width: 40%;
        }
    }
}

/* 웹 1600 사이즈 */
@media all and (max-width: 1600px) {
    @import "./lib/webvw";

    /* aboutUs - storyNews - CI */
    .about-ci {
        &__contents {
            padding: vw(100px) 0 vw(160px);
        }

        &__title {
            h2 {
                padding: vw(80px) 0;
            }
        }

        &__identity {
            padding-right: vw(150px);

            &--area {
                h3 {
                    padding-bottom: vw(19px);
                    font: {
                        size: vw(25px);
                    }
                    border-bottom: vw(2px) solid $titleColor;
                }

                p {
                    padding-top: vw(19px);
                    font-size: vw(18px);
                    line-height: vw(32px);
                    letter-spacing: vw(-0.63px);
                }
            }

            &--orientation {
                margin-top: vw(50px);
            }
        }

        &__img {
            width: 50%;
        }
    }

    /* aboutUs - storyNews - News */
    .about-storyNews {
        &__title {
            padding: vw(60px) 0 vw(50px);
        }

        &__contents {
            max-width: vw(1614px);
            padding: vw(60px) 0 vw(90px);
        }

        &__list {
            &-item {
                margin-bottom: vw(20px);
                margin-right: vw(42px);

                &--text {
                    padding: vw(19px 25px);
                }

                figure {
                    height: vw(298px);
                }

                h3 {
                    padding: vw(9px 0 21px 10px);
                    font: {
                        size: vw(25px);
                    }

                    &:before {
                        width: vw(10px);
                        height: vw(10px);
                    }
                }

                p {
                    height: vw(50px);
                    padding-left: vw(10px);
                    font : {
                        size: vw(18px);
                    }
                }
            }
        }
        .pagination {
            margin-top: vw(60px);
        }
    }

    /* aboutUs - ceoMessage*/
    .about-ceo {
        &__contents {
            padding: 0 0 vw(72px) vw(1173px);
            margin-top: vw(103px);
            background: url("/images/about/img_ceo.jpg") no-repeat left top/ vw(1079px) vw(620px);
        }

        &__title {
            padding-bottom: vw(35px);
            font: {
                size: vw(25px);

            }
            line-height: vw(34px);
        }

        &__text {
            width: vw(584px);
            padding-top: vw(35px);
            font-size: vw(18px);
            line-height: vw(32px);
            p {
                padding-bottom: vw(15px);
            }
        }
    }

    /* aboutUs - location */
    .about-location {

        &__title {
            height: vw(400px);

            h2 {
                padding-top: vw(57px);
            }
        }

        &__swiper {
            height: vw(500px);

            .swiper-button {
                width: vw(79px);
                height: vw(79px);
            }

            .swiper-pagination {
                bottom: vw(30px) !important;
            }

            .swiper-pagination-bullet {
                width: vw(17px);
                height: vw(17px);
            }

        }

        &__contents {
            width: vw(890px);
            margin: vw(-258px) auto 0;
        }

        &__info {
            padding-top: vw(20px);
            padding-bottom: vw(62px);

            &--map {
                height: vw(345px);
            }

            &--address {
                padding-left: vw(50px);

                p {
                    width: vw(370px);
                    font-size: vw(25px);
                    line-height: vw(37px);
                }

                dl {
                    padding-top: vw(32px);

                    dt {

                        font : {
                            size: vw(18px);
                        }
                        line-height: vw(32px);

                        &::after {
                            width: vw(2px);
                            height: vw(15px);
                            margin: 0 vw(7px);
                        }

                    }

                    dd {
                        font-size: vw(18px);
                    }
                }
            }

            &--video {
                margin-top: vw(20px);
            }
        }
    }

    /* aboutUs - heritage */
    .about-heritage {
        &__top-img {
            height: vw(270px);
        }

        &__contents {
            max-width: vw(1376px);
            padding-bottom: vw(200px);
        }

        &__info {
            padding: vw(88px 831px 220px 0);

            &--title {
                padding-bottom: vw(34px);
                font-size: vw(25px);
                line-height: vw(37px);
            }

            &--text {
                font-size: vw(18px);
                line-height: vw(32px);
            }
        }

        &__slide {
            padding-top: vw(200px);

            .about-heritage__slide--img {
                width: vw(837px);
                height: vw(630px);

                .swiper-wrapper {
                    padding-top: vw(63px);
                    height: vw(504px);
                    width: vw(344px);
                }

                .swiper-slide-active{
                    height: vw(630px);
                    width: vw(430px);
                    margin-top: vw(-63px);
                }
            }

            .about-heritage__slide--year {
                width: vw(589px);
                margin-top: vw(53px);
                padding: 0 vw(58px);

                .swiper-slide {
                    font-size: vw(28px);
                }

                .swiper-button-prev {
                    width: vw(58px);
                }

                .swiper-button-next {
                    width: vw(58px);
                }

                .swiper-button-prev::after{
                    width: vw(72px);
                    height: vw(32px);
                }

                .swiper-button-next::after{
                    width: vw(72px);
                    height: vw(32px);
                }
            }
        }

        &__text {
            right: vw(38px);
            padding-top: vw(18px);
            font-size: vw(15px);
            line-height: vw(32px);
        }
    }
}

/*태블릿 세로 사이즈*/
@media all and (min-width:768px) and (max-width:1023px) {
    @import "./lib/webvw";

    /* aboutUs - storyNews - CI */
    .about-ci {
        &__identity {
            &--area {
                h3 {
                    font: {
                        size: vw(60px);
                    }
                }

                p {
                    font-size: vw(36px);
                    line-height: vw(64px);
                }
            }
        }
    }

    /* aboutUs - storyNews - News */
    .about-storyNews {
        &__contents {
            max-width: vw(1600px);
            position: relative;
        }

        &__list {

            &-item {
                width: calc(50% - 2.6%);
                margin-bottom: vw(53px);

                &--text {
                    padding: vw(38px 50px);
                }

                figure {
                    height: vw(600px);
                }

                h3 {
                    font: {
                        size: vw(50px);
                    }
                }

                p {
                    height: vw(100px);
                    font : {
                        size: vw(36px);
                    }
                }
            }
        }

        &__top-btn {
            display: inline-block;
            position: fixed;
            bottom: vw(40px);
            right: 5%;
            width: vw(140px);
            height: vw(140px);
            border: 1px solid #bebebe;
            color: #000;
            font: {
                size: vw(35px);
                weight: vw(bold);
            }
            text-align: center;
            line-height: vw(200px);
            cursor: pointer;
            background:#fff url("/images/about/m/icon_top.jpg") no-repeat center vw(30px);
        }

        .pagination {
            margin-top: vw(120px);
        }
    }

    /* aboutUs - ceoMessage*/
    .about-ceo {
        &__contents {
            padding: vw(1200px 60px 72px);
            margin-top: 0;
            font-size: 0;
            background: url("/images/about/m/img_ceo.jpg") no-repeat left top/ 100%;
        }

        &__title {
            padding-bottom: vw(70px);
            font: {
                size: vw(50px);
            }
            line-height: vw(68px);
            word-break: keep-all;
        }

        &__text {
            width: 100%;
            padding-top: vw(70px);
            font-size: vw(36px);
            line-height: vw(64px);
        }
    }

    /* aboutUs - location */
    .about-location {

        &__swiper {
            height: vw(1000px);
        }

        &__contents {
            width: vw(1780px);
            margin: vw(-150px) auto 0;
            background-color: #fff;
        }

        &__info {

            &--map {
                height: vw(690px);
            }

            &--address  {
                p {
                    width: 100%;
                    font-size: vw(50px);
                    line-height: vw(74px);
                }

                dl {

                    dt {
                        font-size: vw(36px);
                        line-height: vw(64px);

                        &::after {
                            content: "";
                            display: inline-block;
                            width: vw(4px);
                            height: vw(30px);
                            margin: 0 vw(14px);
                            background-color: #535353;
                            vertical-align: middle;
                        }
                    }

                    dd {
                        font-size: vw(36px);
                    }
                }
            }
        }
    }

    /* aboutUs - heritage */
    .about-heritage {

        &__contents {
            max-width: vw(1600px);
            margin: 0 auto;
            padding-bottom: vw(200px);
        }

        &__info {
            padding: vw(88px 831px 220px 0);

            &--title {
                padding-bottom: vw(68px);
                font-size: vw(50px);
                line-height: vw(74px);
                word-break: keep-all;
            }

            &--text {
                font-size: vw(30px);
                line-height: vw(64px);
                word-break: keep-all;
            }
        }

        &__slide  {
            padding-top: vw(400px);

            .about-heritage__slide--img {
                width: vw(1674px);
                height: vw(1260px);

                .swiper-wrapper {
                    padding-top: vw(126px);
                    height: vw(1008px);
                    width: vw(688px);
                }

                .swiper-slide-active {
                    height: vw(1260px);
                    width: vw(860px);
                    margin-top: vw(-126px);
                }
            }

            .about-heritage__slide--year {
                width: vw(1178px);
                margin-top: vw(106px);
                padding: 0 vw(116px) !important;

                .swiper-slide {
                    font-size: vw(56px);
                }

                .swiper-button-prev,
                .swiper-button-next {
                    width: vw(116px);
                }

                .swiper-button-prev::after,
                .swiper-button-next::after {
                    width: vw(144px);
                    height: vw(64px);
                }
            }
        }

        &__text {
            right: vw(76px);
            padding-top: vw(36px);
            font-size: vw(30px);
            line-height: vw(64px);
        }
    }
}

/* 모바일 사이즈 */
@media all and (max-width: 767px) {
    @import "./lib/vw";

    /* aboutUs - storyNews - CI */
    .about-ci {
        &__contents {
            max-width: 100%;
            padding: vw(0 69px 88px);
        }

        &__title {
            h2 {
                padding: vw(86px 0 94px);
                line-height: 1;
            }
        }

        &__identity {
            display: block;
            width: 100%;
            padding-right: 0;

            &--area {
                h3 {
                    padding-top: vw(69px);
                    padding-bottom: vw(44px);
                    font-size: vw(36px);
                }

                p {
                    font-size: vw(22px);
                    line-height: vw(37px);
                }
            }
        }

        &__img {
            display: block;
            width: 100%;
            height: vw(840px);
            background: url("/images/about/m/m_img_ci.jpg") no-repeat center / contain;
        }
    }

    /* aboutUs - storyNews - News */
    .about-storyNews {
        &__contents {
            max-width: vw(610px);
            padding-bottom: vw(120px);
        }

        &__title {
            padding: vw(86px 0 84px);
            font-size: vw(45px);
        }

        &__list {
            ul {
                margin-right:0;
            }

            &-item {
                float: initial;
                width: 100%;
                margin-bottom: vw(53px);

                &--text {
                    padding: vw(18px 36px 37px);
                }

                figure {
                    height: vw(343px);
                }

                h3 {
                    padding-top: vw(14px);
                    padding-left: vw(9px);
                    font: {
                        size: vw(30px);
                    }

                    &:before {
                        width: vw(13px);
                        height: vw(13px);
                    }
                }

                p {
                    height: vw(70px);
                    padding-left: vw(9px);
                    font : {
                        size: vw(20px);
                    }
                    line-height: vw(35px);
                }
            }
        }

        &__top-btn {
            display: inline-block;
            position: fixed;
            bottom: vw(40px);
            right: 5%;
            padding: vw(48px) 0 vw(12px);
            width: vw(77px);
            border: 1px solid #bebebe;
            color: #000;
            font: {
                size: vw(20px);
                weight: vw(bold);
            }
            text-align: center;
            cursor: pointer;
            background: #fff url("/images/about/m/icon_top.jpg") no-repeat center vw(15px);
            background-size: vw(37px) vw(21px);
            line-height: 1;
        }

        .pagination {
            margin-top: vw(60px);
        }
    }

    /* aboutUs - ceoMessage*/
    .about-ceo {
        &__contents {
            padding: vw(502px 65px 150px);
            margin-top: 0;
            font-size: 0;
            background: url("/images/about/m/img_ceo.jpg") no-repeat left top;
            background-size: 100% vw(439px);
        }

        &__title {
            padding-bottom: vw(36px);
            font-size: vw(36px);
            line-height: vw(60px);
        }

        &__text {
            width: 100%;
            padding-top: vw(50px);
            font-size: vw(22px);
            line-height: vw(37px);
        }
    }

    /* aboutUs - location */
    .about-location {
        &__contents {
            width: 100%;
            margin: 0;
        }

        &__title {
            position: initial;
            height: auto;

            h2 {
                padding: vw(86px 0 94px);
                font-size: vw(47px);
            }
        }

        &__swiper {
            height: vw(439px);

            .swiper-button {
                width: vw(79px);
                height: vw(79px);
            }

            .swiper-pagination-bullet {
                width: vw(17px);
                height: vw(17px);
            }
        }

        &__info {
            display: block;
            position: relative;
            padding: 0 0 vw(100px);

            &--map {
                display: block;
                width: 100%;
                height: vw(447px);
                padding-top: vw(200px);
            }

            &--address  {
                display: block;
                width: 100%;
                padding:0;

                p {
                    position: absolute;
                    top: vw(30px);
                    left: 50%;
                    transform: translateX(-50%);
                    width: 76%;
                    font-size: vw(27px);
                    line-height: vw(45px);
                }

                dl {
                    padding-left: vw(133px);

                    dt {
                        font-size: vw(21px);
                        line-height: vw(37px);

                        &::after {
                            content: "";
                            display: inline-block;
                            width: vw(4px);
                            height: vw(30px);
                            margin: 0 vw(14px);
                            background-color: #535353;
                            vertical-align: middle;
                        }
                    }

                    dd {
                        font-size: vw(21px);
                    }
                }
            }
        }
    }

    /* aboutUs - heritage */
    .about-heritage {
        &__top-img {
            height: vw(232px);
        }

        &__contents {
            max-width: 100%;
        }

        &__info {
            padding: vw(472px 0 0);
            background: url("/images/about/heritage/m_img_right.jpg")no-repeat right top;
            background-size: 100% vw(409px);
            text-align: center;

            &--title {
                padding-bottom: vw(30px);
                color: $titleColor;
                font-size: vw(30px);
                line-height: vw(48px);

                span {
                    color: #000;
                }
            }

            &--text {
                font-size: vw(20px);
                line-height: vw(37px);
            }
        }

        &__slide  {
            padding-top: vw(140px);

            .about-heritage__slide--img {
                width: vw(682px);
                height: vw(620px);

                .swiper-wrapper {
                    padding-top: vw(63px);
                    height: vw(504px);
                    width: vw(344px);
                }

                .swiper-slide {
                    text-align: center;
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: -webkit-flex;
                    display: flex;
                    -webkit-box-pack: center;
                    -ms-flex-pack: center;
                    -webkit-justify-content: center;
                    justify-content: center;
                    -webkit-box-align: center;
                    -ms-flex-align: center;
                    -webkit-align-items: center;
                    align-items: center;
                    width: auto;
                    // height: vw(504px);
                    -webkit-transform: scale(1);
                    transform: scale(1);
                    transition: -webkit-transform 0.3s linear;
                    transition: transform 0.3s linear;
                    transition: transform 0.3s linear, -webkit-transform 0.3s linear;

                    img {
                        width: 100%;
                        height: auto;
                    }

                }

                .swiper-slide:before{
                    content: '';
                    position: absolute;
                    z-index: 1;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background: rgba(0, 0, 0, 0.5);
                    transition: all 0.5s;
                }

                .swiper-slide-active{
                    display: inline-block;
                    vertical-align: middle;
                    z-index: 2;
                    height: vw(630px);
                    width: vw(430px);
                    margin-top: vw(10px);
                    -webkit-transform: scale(1.01);
                    transform: scale(1.2);
                }

                .swiper-slide-active:before {
                    display: none;
                }
            }

            .about-heritage__slide--year {
                width: vw(587px);
                margin-top: vw(60px);
                padding: 0 vw(30px) !important;

                .swiper-slide {
                    font-size: vw(28px);
                }

                .swiper-button-prev,
                .swiper-button-next {
                    width: vw(30px);
                }

                .swiper-button-prev::after,
                .swiper-button-next::after {
                    width: vw(30px);
                    height: vw(20px);
                }
            }
        }

        &__text {
            position: initial;
            display: block;
            padding-top: vw(68px);
            text-align: right;
            color: #8d8d8d;
            font-size: vw(17px);
            line-height: vw(33px);
            text-align: center;
        }
    }
}
