@import "./lib/webvw";
/* aboutUs - storyNews - CI */
.about-ci {
    &__contents {
        display: table;
        padding: vw(100px) 0 vw(160px);
    }

    &__title {
        h2 {
            padding: vw(80px) 0;
            line-height: 1;
        }
    }

    &__identity {
        display: table-cell;
        width: 50%;
        padding-right: vw(150px);

        &--area {
            h3 {
                display: block;
                padding-bottom: vw(19px);
                color: $titleColor;
                font: {
                    size: vw(25px);
                    weight: bold;
                }
                line-height: 1;
                border-bottom: vw(2px) solid $titleColor;
            }

            p {
                display: block;
                padding-top: vw(19px);
                color: #535353;
                font-size: vw(18px);
                line-height: vw(32px);
                letter-spacing: vw(-0.63px);
                word-break: keep-all;
            }
        }

        &--orientation {
            margin-top: vw(50px);
        }
    }

    &__img {
        display: table-cell;
        width: 50%;
        background: url("../images/about/web_img_ci.png") no-repeat center / contain;
    }
}

/* aboutUs - storyNews - News */
.about-storyNews {
    &__title {
        padding: vw(60px) 0 vw(50px);
    }

    &__contents {
        max-width: vw(1614px);
        padding: vw(60px) 0 vw(90px);
        margin: 0 auto;
    }

    &__list {
        width: 100%;
        font-size: 0;
        @extend %clear;

        ul {
            margin-right: - 2.6%;
        }

        &-item {
            float: left;
            width: calc(33.33% - 2.6%);
            border: 1px solid #ccc;
            box-sizing: border-box;
            margin-right: vw(42px);

            &--text {
                padding: vw(19px 25px);
            }

            figure {
                width: 100%;
                height: vw(298px);
                border-bottom: 1px solid #ccc;

                img {
                    width: 100%;
                    height: 100%;
                }
            }

            h3 {
                display: block;
                padding: vw(9px 0 21px 10px);
                position: relative;
                color: #2a2a2a;
                font: {
                    size: vw(25px);
                    weight: bold;
                }
                line-height: 1;
                @include line(1);

                &:before {
                    content:"";
                    display: block;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: vw(10px);
                    height: vw(10px);
                    border-radius: 50%;
                    background-color: #3767c7;
                }
            }

            p {
                display: block;
                padding-left: vw(10px);
                color: #2a2a2a;
                font : {
                    size: vw(18px);
                    weight: 400;
                }
                @include line(2);
            }

            &:last-child {
                margin-right: 0;
            }
        }
    }

    &__top-btn {
        display: none;
    }

    .pagination {
        margin-top: vw(60px);
    }
}

/* aboutUs - ceoMessage*/
.about-ceo {
    &__contents {
        padding: 0 0 vw(72px) vw(1173px);
        margin-top: vw(103px);
        font-size: 0;
        background: url("../images/about/img_ceo.jpg") no-repeat left top/ vw(1079px) vw(620px);
    }

    &__title {
        padding-bottom: vw(35px);
        color: #000;
        font: {
            size: vw(25px);
            weight: 400;
        }
        border-bottom: 1px solid $titleColor;
        line-height: vw(34px);

        em {
            color: $titleColor;
            font-weight: bold;
        }

        span {
            font-weight: bold;
        }
    }

    &__text {
        width: vw(584px);
        padding-top: vw(35px);
        color: #2a2a2a;
        font-size: vw(18px);
        line-height: vw(32px);

        p {
            padding-bottom: vw(15px);
            word-break: keep-all;
        }
    }
}

/* aboutUs - location */
.about-location {

    &__title {
        position: static;
        height: vw(400px);

        h2 {
            padding-top: vw(57px);
        }
    }

    &__swiper {
        height: vw(500px);

        img {
            width: 100%;
            height: 100%;
        }

        .swiper-button {
            width: vw(79px);
            height: vw(79px);
            font-size: 0;

            &::after {
                display: none;
            }
        }
        .swiper-button-next {
            background: url("../images/about/location_next.png")no-repeat;
            background-size: contain;
        }

        .swiper-button-prev {
            background: url("../images/about/location_prev.png")no-repeat;
            background-size: contain;
        }

        .swiper-pagination {
            bottom: vw(30px) !important;
        }

        .swiper-pagination-bullet {
            width: vw(17px);
            height: vw(17px);
            background-color: #4e4e4e;
            opacity: 1;

            &.swiper-pagination-bullet-active {
                background-color: #fff;
            }
        }

    }

    &__contents {
        width: vw(890px);
        margin: vw(-258px) auto 0;
        background-color: #fff;
    }

    &__info {
        display: table;
        width: 100%;
        padding-top: vw(20px);
        padding-bottom: vw(62px);
        @extend %clear;

        &--map {
            display: table-cell;
            // float: left;
            width: 50%;
            height: vw(345px);
        }

        &--address {
            display: table-cell;
            width: 50%;
            padding-left: vw(50px);
            vertical-align: middle;

            p {
                display: block;
                width: vw(370px);
                color: #000;
                font-size: vw(25px);
                word-break: keep-all;
                line-height: vw(37px);

                em {
                    font-weight: bold;
                }
            }

            dl {
                display: block;
                padding-top: vw(32px);

                dt {
                    display: inline-block;
                    color: #535353;
                    font : {
                        size: vw(18px);
                        weight: bold;
                    }
                    line-height: vw(32px);

                    &::after {
                        content: "";
                        display: inline-block;
                        width: vw(2px);
                        height: vw(15px);
                        margin: 0 vw(7px);
                        background-color: #535353;
                        vertical-align: middle;
                    }

                }

                dd {
                    display: inline-block;
                    font-size: vw(18px);
                    color: #535353;
                }
            }
        }

        &--video {
            margin-top: vw(20px);
        }
    }
}

/*태블릿 세로 사이즈*/
@media all and (min-width:768px) and (max-width:1023px) {
    /* aboutUs - storyNews - CI */
    .about-ci {
        &__identity {
            &--area {
                h3 {
                    font: {
                        size: vw(60px);
                    }
                }

                p {
                    font-size: vw(36px);
                    line-height: vw(64px);
                }
            }
        }
    }

    /* aboutUs - storyNews - News */
    .about-storyNews {
        &__contents {
            max-width: vw(1600px);
            position: relative;
        }

        &__list {

            &-item {
                width: calc(50% - 2.6%);
                margin-bottom: vw(53px);

                &--text {
                    padding: vw(38px 50px);
                }

                figure {
                    height: vw(600px);
                }

                h3 {
                    font: {
                        size: vw(50px);
                    }
                }

                p {
                    font : {
                        size: vw(36px);
                    }
                }
            }
        }

        &__top-btn {
            display: inline-block;
            position: fixed;
            bottom: vw(40px);
            right: 5%;
            width: vw(140px);
            height: vw(140px);
            border: 1px solid #bebebe;
            background-color: #fff;
            color: #000;
            font: {
                size: vw(35px);
                weight: vw(bold);
            }
            text-align: center;
            line-height: vw(200px);
            cursor: pointer;
            background: url("../images/about/m/icon_top.jpg") no-repeat center vw(30px);
        }

        .pagination {
            margin-top: vw(120px);
        }
    }

    /* aboutUs - ceoMessage*/
    .about-ceo {
        &__contents {
            padding: vw(1200px 60px 72px);
            margin-top: 0;
            font-size: 0;
            background: url("../images/about/m/img_ceo.jpg") no-repeat left top/ 100%;
        }

        &__title {
            padding-bottom: vw(70px);
            font: {
                size: vw(50px);
            }
            line-height: vw(68px);
            word-break: keep-all;
        }

        &__text {
            width: 100%;
            padding-top: vw(70px);
            font-size: vw(36px);
            line-height: vw(64px);
        }
    }

}

/* 모바일 사이즈 */
@media all and (max-width: 767px) {
    @import "./lib/vw";

    /* aboutUs - storyNews - CI */
    .about-ci {
        &__contents {
            max-width: 100%;
            padding: vw(0 69px 88px);
        }

        &__title {
            h2 {
                padding: vw(86px 0 94px);
                line-height: 1;
            }
        }

        &__identity {
            display: block;
            width: 100%;
            padding-right: 0;

            &--area {
                h3 {
                    padding-top: vw(69px);
                    padding-bottom: vw(44px);
                    font-size: vw(36px);
                }

                p {
                    font-size: vw(22px);
                    line-height: vw(37px);
                }
            }
        }

        &__img {
            display: block;
            width: 100%;
            height: vw(840px);
            background: url("../images/about/m/m_img_ci.jpg") no-repeat center / contain;
        }
    }

    /* aboutUs - storyNews - News */
    .about-storyNews {
        &__contents {
            max-width: vw(610px);
            padding-bottom: vw(120px);
        }

        &__title {
            padding: vw(86px 0 84px);
            font-size: vw(45px);
        }

        &__list {
            ul {
                margin-right:0;
            }

            &-item {
                float: initial;
                width: 100%;
                margin-bottom: vw(53px);

                &--text {
                    padding: vw(18px 36px 37px);
                }

                figure {
                    height: vw(343px);
                }

                h3 {
                    padding-top: vw(14px);
                    padding-left: vw(9px);
                    font: {
                        size: vw(30px);
                    }

                    &:before {
                        width: vw(13px);
                        height: vw(13px);
                    }
                }

                p {
                    padding-left: vw(9px);
                    font : {
                        size: vw(20px);
                    }
                    line-height: vw(35px);
                }
            }
        }

        &__top-btn {
            display: inline-block;
            position: fixed;
            bottom: vw(40px);
            right: 5%;
            padding: vw(48px) 0 vw(12px);
            width: vw(77px);
            border: 1px solid #bebebe;
            background-color: #fff;
            color: #000;
            font: {
                size: vw(20px);
                weight: vw(bold);
            }
            text-align: center;
            cursor: pointer;
            background: #fff url("../images/about/m/icon_top.jpg") no-repeat center vw(15px);
            background-size: vw(37px) vw(21px);
            line-height: 1;
        }

        .pagination {
            margin-top: vw(60px);
        }
    }


    /* aboutUs - ceoMessage*/
    .about-ceo {
        &__contents {
            padding: vw(502px 65px 150px);
            margin-top: 0;
            font-size: 0;
            background: url("../images/about/m/img_ceo.jpg") no-repeat left top;
            background-size: 100% vw(439px);
        }

        &__title {
            padding-bottom: vw(36px);
            font-size: vw(36px);
            line-height: vw(60px);
        }

        &__text {
            width: 100%;
            padding-top: vw(50px);
            font-size: vw(22px);
            line-height: vw(37px);
        }
    }
}
