/* 알루미늄 호일, 포장재용, 산업/건축용 content */
.business-foil {
    position: relative;

    &__title {
        position: fixed;
        top: 358px;
        right: 120px;
        // transform: translateY(-50%);
        color: #3d3d3d;
        font: {
            size: 35px;
        }
        text-align: center;
        line-height: 70px;

        h2 {
            font-weight: 400;
        }

        span {
            color: #3d3d3d;
            font: {
                size: 37px;
                weight: bold;
            }

            em {
                color: $titleColor;
            }
        }
    }

    .arrow-effect {
        span {
            display: block;
            position: absolute;
            bottom: 40px;
            left: 50%;
            transform: translateX(-50%);
            width: 50px;
            height: 45px;
            background: url("../images/business/arrow.png") no-repeat;
            background-size: contain;
            -moz-animation: bounce 3s infinite;
            -webkit-animation: bounce 3s infinite;
            animation: bounce 3s infinite;
            font-size: 0;
            z-index: 1;

            @-moz-keyframes bounce {
                0%, 20%, 50%, 80%, 100% {
                  -moz-transform: translateY(0);
                  transform: translateY(0);
                }
                40% {
                  -moz-transform: translateY(-30px);
                  transform: translateY(-30px);
                }
                60% {
                  -moz-transform: translateY(-15px);
                  transform: translateY(-15px);
                }
            }
              @-webkit-keyframes bounce {
                0%, 20%, 50%, 80%, 100% {
                  -webkit-transform: translateY(0);
                  transform: translateY(0);
                }
                40% {
                  -webkit-transform: translateY(-30px);
                  transform: translateY(-30px);
                }
                60% {
                  -webkit-transform: translateY(-15px);
                  transform: translateY(-15px);
                }
            }
              @keyframes bounce {
                0%, 20%, 50%, 80%, 100% {
                  -moz-transform: translateY(0);
                  -ms-transform: translateY(0);
                  -webkit-transform: translateY(0);
                  transform: translateY(0);
                }
                40% {
                  -moz-transform: translateY(-30px);
                  -ms-transform: translateY(-30px);
                  -webkit-transform: translateY(-30px);
                  transform: translateY(-30px);
                }
                60% {
                  -moz-transform: translateY(-15px);
                  -ms-transform: translateY(-15px);
                  -webkit-transform: translateY(-15px);
                  transform: translateY(-15px);
                }
            }
        }
    }

    .foil-box {
        position: relative;
        width: 1175px;

        $col_width:453/1175*100%;
        &__col {
            float: left;
            width: $col_width;
            margin-right: 5px;

            &--item {
                display: block;
                position: relative;
                width: 100%;
                margin-right: 5px;
                margin-bottom: 5px;

                &:first-child {
                    height: 245px;
                }

                &:last-child {
                    height: 248px;
                }
            }
        }

        $line_width: 717/1175*100%;
        &__inline {
            display: inline-block;
            position: relative;
            width: $line_width;
            height: 498px;
            margin-bottom: 5px;
        }

        &__block {
            &--item {
                position: relative;
                display: inline-block;
                margin-bottom: 5px;
                height: 327px;

                $block_first_width: 698/1175*100%;
                &:nth-child(1) {
                    float: left;
                    width: $block_first_width;
                    margin-right: 5px;
                }

                $block_first_width: 472/1175*100%;
                &:nth-child(2) {
                    width: $block_first_width;
                }
            }
        }

        &--item {
            display: inline-block;
            height: 100%;
            width: 100%;
        }

        &__text {
            display: block;
            position: absolute;
            right: 36px;
            top: 40px;
            color: $titleColor;
            font: {
                size: 34px;
                weight: bold;
            }
        }

        .item-foil {
            background: url("../images/business/foil/img_foil.jpg") no-repeat center / contain;
            &:hover {
                background: #8b8e92;
            }
        }

        .item-fin {
            background: url("../images/business/foil/img_fin.jpg") no-repeat center / contain;
            &:hover {
                background: #8b8e92;
            }
        }

        .item-capacitor {
            background: url("../images/business/foil/img_capacitor.jpg") no-repeat center / contain;
            &:hover {
                background: #8b8e92;
            }
        }

        .item-decoration {
            background: url("../images/business/foil/img_decoration.jpg") no-repeat center / contain;
            &:hover {
                background: #8b8e92;
            }
        }

        .item-line {
            background: url("../images/business/foil/img_line.jpg") no-repeat center / contain;
            &:hover {
                background: #8b8e92;
            }
        }
    }
}

/* 알루미늄 호일, 포장재용, 산업/건축용 layout */
.business-detail {
    padding-bottom: 85px;

    &__title {
        height: 270px;
        position: relative;
        // padding: 73px) 0;

        h2 {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%,-50%);
        }

        em {
            display: block;
            margin-top: 23px;
            color: #fff;
            font: {
                size: 25px;
                weight: 400;
            }
            line-height:1;
        }

        p {

            display: block;
            margin-top: 15px;
            font-size: 20px;
            line-height: 30px;
            font-weight: 400;
            color: #fff;
        }
    }

    &__contents {
        max-width: 1497px;
        padding-top: 63px;
        margin: 0 auto;
    }

    &__slide {
        display: inline-block;
        width: 776px;
        padding: 0 55px 26px 0;
        vertical-align: middle;
        background: url("../images/business/bg_slide.png") no-repeat bottom right / 807px 447px;

        img {
            width: 100%;
            height: 100%;
        }

        .swiper-container {
            width: 750px;
            height: 420px;
            border: 1px solid #f4f4f4;
        }

        .swiper-button {
            width: 79px;
            height: 79px;
            font-size: 0;

            &::after {
                display: none;
            }
        }

        .swiper-button-next {
            background: url("../images/about/location_next.png")no-repeat;
            background-size: contain;
        }

        .swiper-button-prev {
            background: url("../images/about/location_prev.png")no-repeat;
            background-size: contain;
        }

        .swiper-pagination-bullet {
            width: 15px;
            height: 15px;
            background-color: #aeaeae;
            opacity: 1;
        }

        .swiper-pagination-bullet-active {
            background-color: #223c6f;
        }

    }

    .info {
        display: inline-block;
        width: 652px;
        vertical-align: middle;

        &__title {
            display: block;
            font: {
                size: 25px;
                weight: bold;
            }
            line-height: 37px;

            span {
                color: #1b366a;
            }
        }

        &__text {
            display: block;
            margin-top: 20px;
            margin-bottom: 33px;
            color: #535353;
            font-size: 18px;
            line-height: 32px;
            word-break: keep-all;
        }

        &__value {
            display: table;
            margin-bottom: 20px;
            font-size: 0;

            em {
                display: table-cell;
                height: 41px;
                padding-right: 20px;
                font: {
                    size: 25px;
                    weight: bold;
                }
                vertical-align: middle;
                word-break: keep-all;

            }

            p {
                display: table-cell;
                padding-left: 29px;
                color: #535353;
                font-size: 15px;
                word-break: keep-all;
                vertical-align: middle;
                line-height: 22px;
                border-left: 3px solid #000;
            }
        }

        &__table {
            text-align: center;

            &--title {
                &:nth-child(1) {
                    border-top: 3px solid #000;

                    th:last-child {
                        border-bottom: 3px solid #000;
                    }
                }

                &:nth-child(2) {
                    border-bottom: 3px solid #000;
                }

            }

            th {
                padding: 10px 0;
                border: 2px solid #000;
                font: {
                    size: 20px;
                    weight: bold;
                }
                vertical-align: middle;
                line-height: 1;
            }

            td {
                border-left: 1px solid #959595;
                border-bottom: 1px solid #959595;
                color: #2e2e2e;
                font-size: 18px;
                vertical-align: middle;
                line-height: 26px;
                word-break: keep-all;
            }

            .border-left-none {
                border-left: none;
            }

            .border-right-none {
                border-right: none;
            }

            .border-bottom {
                border-bottom: 3px solid #000;
            }

            &--bottom {
                height: 111px;
            }

            &.add-table {
                margin-top: 28px;

                .list-title {
                    font-size: 18px;
                }

                .list {

                    ul {
                        display: table-cell;
                        width: 33.33%;
                        vertical-align: top;

                        li {
                            text-indent: -10px;
                            margin-left: 10px;
                        }
                    }
                }

                td {
                    padding: 24px 0 24px 28px;
                    text-align: left;
                }
            }
        }
    }

    &__button {
         margin-top: 66px;
         text-align: center;
         font-size: 0;

        button {
            display: inline-block;
            width: 220px;
            height: 80px;
            margin: 0 15px;
            color: #fff;
            font-size: 25px;
            text-align: center;
            background-color: #000;
        }
    }
}

/* business intro */
.business-intro {
    position: relative;
    width: 100%;
    margin-left: 142px;

    .slide-info {
        h2 {
            display: block;
            font: {
                size: 70px;
                weight: bold;
            }
            line-height: 1;
        }

        &__link {
            display: block;
            width: 225;
            height: 59;
            margin-top: 42px;
            font-size: 27px;
            text-align: center;
            border: 2px solid #000;
            border-radius: 20px;
            line-height: 1;
        }

    }

    &__slide-info {
        position: absolute !important;
        left: 0;
        width: 594px;
    }

    &__slide-img {
        display: block;
        width: 1164px;

        .swiper-slide {
            background-color: #000;
        }

        .swiper-slide-active {
            background-color: red;
        }
    }
}

/* 문의하기 팝업 */
.question-pop {
    width: 610px;

    &__title {
        margin-top: 7px;
        text-align: center;
        line-height: 1;

        h3 {
            display: inline-block;
            padding-top: 14px;
            margin: 0 auto;
            color: #000;
            font: {
                size: 25px;
                weight: bold;
            }
            border-top: 3px solid #000;
        }
    }

    &__info  {
        padding-top: 40px;

        li {
            margin-bottom: 30px;
            font-size: 0;
        }

        h4 {
            display: block;
            padding-bottom: 17px;
            color: #010101;
            font-size: 20px;
            line-height: 1;
        }

        input {
            display: block;
            width: 100%;
            padding: 0 30px;
            background-color: #e8ecef;
            color: #000;
            border-radius: 5px;
            border: none;

            &[type=text] {
                height: 65px;
            }

            &::placeholder {
                font-size: 18px;
                color: #9f9f9f;
            }

            &::-webkit-input-placeholder {
                color: #9f9f9f;
            }

            &:-ms-input-placeholder  {
                color: #9f9f9f;
            }
        }

        textarea {
            display: block;
            width: 100%;
            height: 140px;
            padding: 30px;
            background-color: #e8ecef;
            color: #000;
            border-radius: 5px;
            border: none;

            &::placeholder {
                font-size: 18px;
                color: #9f9f9f;
            }

            &::-webkit-input-placeholder {
                font-size: 18px;
                color: #9f9f9f;
            }

            &:-ms-input-placeholder  {
                font-size: 18px;
                color: #9f9f9f;
            }
        }

        .email-input {
            display: block;

            &__local {
                display: inline-block;
                width: 245/525*100%;
                vertical-align: middle;
            }

            &__separator {
                display: inline-block;
                width: 35/525*100%;
                font-size: 18px;
                text-align: center;
                vertical-align: middle;
            }

            &__domain {
                display: inline-block;
                position: relative;
                width: 245/525*100%;
                vertical-align: middle;

                input {
                    display: inline-block;
                    width: 100%;
                    height: 65px;
                    padding: 0 43px 0 30px;
                    border: none;
                    background-color: #e8ecef;
                    font-size: 18px;
                    border-radius: 5px;
                }

                // &::after {
                //     content: "";
                //     display: block;
                //     position: absolute;
                //     top: 50%;
                //     right: 28px);
                //     transform: translateY(-50%);
                //     border-top: 13px) solid #757575;
                //     border-left: 7px) solid transparent;
                //     border-right: 7px) solid transparent;
                // }
            }
        }

        .privacy-box {
            padding: 28px 30px;
            height: 157px;
            overflow-y: auto;
            color: #5b5b5b;
            font-size: 13px;
            background-color: #e8ecef;
            border: 1px solid #d7d7d7;
        }
    }

    &__form-check {
        margin-top: 15px;

        .form-check {
            display: inline-block;
            position: relative;
            width: 20px;
            height: 20px;
            margin-right: 10px;
            padding: 0;
            border-radius: 0;
            vertical-align: middle;

            &:checked::after {
                content: "";
                display: block;
                position: absolute;
                width: 20px;
                height: 20px;
                background: url("../images/common/icon_check.png") no-repeat center;
            }
        }

        span {
            display: inline-block;
            color: #383838;
            font-size: 13px;
            vertical-align: middle;
        }
    }

    &__submit-btn {
        display: block;
        height: 80px;
        padding: 0 106px 0 51px;
        margin: 44px auto 0;
        background: #000 url("../images/common/btn_submit.png") no-repeat ;
        background-size: 46px 42px;
        background-position: 152px center;
        font-size: 25px;
        color: #fff;
    }
}

/* 담당자 팝업 */
.manager-pop {
    width: 610px;

    &__title {
        margin-top: 7px;
        text-align: center;
        line-height: 1;

        h3 {
            display: inline-block;
            padding-top: 14px;
            margin: 0 auto;
            color: #000;
            font: {
                size: 25px;
                weight: bold;
            }
            border-top: 3px solid #000;
        }
    }

    &__list {
        display: block;
        padding-top: 40px;
        font-size: 0;
        text-align: center;

        dl {
            display: block;
            padding-bottom: 17px;
        }

        dt {
            display: inline-block;
            position: relative;
            padding-right: 10px;
            color: #010101;
            font: {
                size: 20px;
                weight: bold;
            }
            vertical-align: middle;

            &::after{
                content:"";
                display: inline-block;
                position: absolute;
                right: 0;
                top: 50%;
                transform: translateY(-50%);
                width: 3px;
                height: 20px;
                background-color: #010101;
            }

        }

        dd {
            display: inline-block;
            margin-left: 7px;
            color: #010101;
            font-size: 20px;
            vertical-align: middle;
        }
    }
}

/* 공정과정 */
.speciality-process {

    &__title {
        padding: 57px 0;
        font-size: 40px;
        line-height: 1;
    }

    &__contents {
        max-width: 1021px;
        margin: 0 auto;
    }

    &__tab {
        width: 100%;
        font-size: 0;

        &--item {
            display: inline-block;
            width: calc(33.33% - 6px);
            margin-right: 6px;
            padding: 23px 0;
            font-size: 20px;
            background-color: #cdcdcd;
            text-align: center;
            color: #fff;
            line-height: 1;
            cursor: pointer;

            &.on {
                position: relative;
                font-weight: bold;
                color: $titleColor;
                background-color: #fff;

                &::after {
                    content: "";
                    display: block;
                    position: absolute;
                    bottom: 0;
                    width: 100%;
                    height: 5px;
                    background-color: $titleColor;

                }
            }
        }
    }

    &__tab-content {
        display: none;

        &.on {
            display: block;
        }
    }

    .content-01 {
        padding: 69px 0 77px;

        &__text {
            font-size: 18px;
            line-height: 32px;
            color: #535353;
            text-align: center;

            span {
                display: block;
                margin: 30px 0;
                color: #535353;
                font-size: 18px;
                font-weight: bold;
            }
        }

        &__list {
            padding: 70px;
            text-align: center;
            font-size: 0;

            &--item {
                display: inline-block;
                position: relative;
                width: 155px;
                padding-right: 58px;
                padding-top: 180px;
                vertical-align: top;

                .lang-korea {
                    display: block;
                    color: #000;
                    font: {
                        size: 20px;
                        weight: bold;
                    }
                    text-align: center;
                }

                .lang-english {
                    display: block;
                    color: #000;
                    font-size: 18px;
                    text-align: center;
                }

                .popup-btn {
                    display: block;
                    position: relative;
                    width: 125px;
                    height: 30px;
                    margin: 10px auto 0;
                    padding-left:13px;
                    border: 1px solid $titleColor;
                    color: $titleColor;
                    font-size: 18px;
                    text-align: left;

                    &::after {
                        content: "";
                        display: block;
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        right: 11px;
                        border-top: 5px solid transparent;
                        border-left: 11px solid $titleColor;
                        border-bottom: 5px solid transparent;
                    }
                }

                &::after {
                    content:"";
                    display: inline-block;
                    position: absolute;
                    right: 0;
                    top: 50%;
                    transform: translateY(-50%);
                    margin: 0 8px;
                    width: 42px;
                    height: 42px;
                    background: url("../images/business/speciality/arrow_process.jpg") no-repeat;
                    background-size: contain;
                    vertical-align: middle;
                }

            }

            &--item:nth-child(1) {
                background: url("../images/business/speciality/img_content01_process_01.jpg") no-repeat left top / 155px 180px;
            }
            &--item:nth-child(2) {
                background: url("../images/business/speciality/img_content01_process_02.jpg") no-repeat left top / 155px 180px;
            }
            &--item:nth-child(3) {
                background: url("../images/business/speciality/img_content01_process_03.jpg") no-repeat left top / 155px 180px;
            }
            &--item:nth-child(4) {
                padding-right: 0;
                background: url("../images/business/speciality/img_content01_process_04.jpg") no-repeat left top / 155px 180px;

                &::after {
                    display: none;
                }
            }
        }

        &__img {
            display: block;
            margin-top: 70px;
            width: 1020px;
            height: 1931px;
            background: url("../images/business/speciality/img_content01.jpg") no-repeat center / contain;
        }
    }

    .content-02 {
        padding: 69px 0 77px;

        &__text {
            font-size: 18px;
            line-height: 32px;
            color: #535353;
            text-align: center;
            word-break: keep-all;

            span {
                display: block;
                margin: 30px 0;
                color: #535353;
                font-size: 18px;
                font-weight: bold;
            }
        }

        &__list {
            padding: 70px;
            text-align: center;
            font-size: 0;

            &--item {
                display: inline-block;
                position: relative;
                width: 155px;
                padding-right: 58px;
                padding-top: 180px;
                vertical-align: top;

                .lang-korea {
                    display: block;
                    color: #000;
                    font: {
                        size: 20px;
                        weight: bold;
                    }
                    text-align: center;
                }

                .lang-english {
                    display: block;
                    color: #000;
                    font-size: 18px;
                    text-align: center;
                }

                .popup-btn {
                    display: block;
                    position: relative;
                    width: 125px;
                    height: 30px;
                    margin: 10px auto 0;
                    padding-left:13px;
                    border: 1px solid $titleColor;
                    color: $titleColor;
                    font-size: 18px;
                    text-align: left;

                    &::after {
                        content: "";
                        display: block;
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        right: 11px;
                        border-top: 5px solid transparent;
                        border-left: 11px solid $titleColor;
                        border-bottom: 5px solid transparent;
                    }
                }

                &::after {
                    content:"";
                    display: inline-block;
                    position: absolute;
                    right: 0;
                    top: 50%;
                    transform: translateY(-50%);
                    margin: 0 8px;
                    width: 42px;
                    height: 42px;
                    background: url("../images/business/speciality/arrow_process.jpg") no-repeat;
                    background-size: contain;
                    vertical-align: middle;
                }

            }

            &--item:nth-child(1) {
                background: url("../images/business/speciality/img_content02_process_01.jpg") no-repeat left top / 155px 180px;
            }
            &--item:nth-child(2) {
                background: url("../images/business/speciality/img_content02_process_02.jpg") no-repeat left top / 155px 180px;
            }
            &--item:nth-child(3) {
                background: url("../images/business/speciality/img_content02_process_03.jpg") no-repeat left top / 155px 180px;
            }
            &--item:nth-child(4) {
                padding-right: 0;
                background: url("../images/business/speciality/img_content02_process_04.jpg") no-repeat left top / 155px 180px;

                &::after {
                    display: none;
                }
            }
        }

        &__img {
            display: block;
            margin-top: 70px;
            width: 1020px;
            height: 1931px;
            background: url("../images/business/speciality/img_content02.jpg") no-repeat center / contain;
        }
    }

    .content-03 {
        padding: 69px 0 77px;

        &__text {
            font-size: 18px;
            line-height: 32px;
            color: #535353;
            text-align: center;
            word-break: keep-all;

            span {
                display: block;
                margin: 30px 0;
                color: #535353;
                font-size: 18px;
                font-weight: bold;
            }
        }

        &__list {
            padding: 70px 0;
            text-align: center;
            font-size: 0;

            &--item {
                display: inline-block;
                position: relative;
                width: 155px;
                padding-right: 58px;
                padding-top: 180px;
                vertical-align: top;

                .lang-korea {
                    display: block;
                    color: #000;
                    font: {
                        size: 20px;
                        weight: bold;
                    }
                    text-align: center;
                }

                .lang-english {
                    display: block;
                    color: #000;
                    font-size: 18px;
                    text-align: center;
                }

                .popup-btn {
                    display: block;
                    position: relative;
                    width: 125px;
                    height: 30px;
                    margin: 10px auto 0;
                    padding-left:13px;
                    border: 1px solid $titleColor;
                    color: $titleColor;
                    font-size: 18px;
                    text-align: left;

                    &::after {
                        content: "";
                        display: block;
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        right: 11px;
                        border-top: 5px solid transparent;
                        border-left: 11px solid $titleColor;
                        border-bottom: 5px solid transparent;
                    }
                }

                &::after {
                    content:"";
                    display: inline-block;
                    position: absolute;
                    right: 0;
                    top: 50%;
                    transform: translateY(-50%);
                    margin: 0 8px;
                    width: 42px;
                    height: 42px;
                    background: url("../images/business/speciality/arrow_process.jpg") no-repeat;
                    background-size: contain;
                    vertical-align: middle;
                }

            }

            &--item:nth-child(1) {
                background: url("../images/business/speciality/img_content03_process_01.jpg") no-repeat left top / 155px 175px;
            }
            &--item:nth-child(2) {
                background: url("../images/business/speciality/img_content03_process_02.jpg") no-repeat left top / 155px 175px;
            }
            &--item:nth-child(3) {
                background: url("../images/business/speciality/img_content03_process_03.jpg") no-repeat left top / 155px 175px;
            }
            &--item:nth-child(4) {
                background: url("../images/business/speciality/img_content03_process_03.jpg") no-repeat left top / 155px 175px;
            }
            &--item:nth-child(5) {
                padding-right: 0;
                background: url("../images/business/speciality/img_content03_process_04.jpg") no-repeat left top / 155px 175px;

                &::after {
                    display: none;
                }
            }
        }

        &__img {
            display: block;
            margin-top: 70px;
            width: 1020px;
            height: 1931px;
            background: url("../images/business/speciality/img_content02.jpg") no-repeat center / contain;
        }
    }
}


/* 웹 1600 사이즈 */
@media all and (max-width: 1600px) {
    @import "./lib/webvw";
    /* 알루미늄 호일, 포장재용, 산업/건축용 content */
    .business-foil {

        &__title {
            top: vw(358px);
            right: vw(120px);

            font: {
                size: vw(35px);
            }

            line-height: vw(70px);

            span {
                font: {
                    size: vw(37px);
                }
            }
        }

        .arrow-effect {
            span {
                bottom: vw(40px);
                width: vw(50px);
                height: vw(45px);
            }
        }

        .foil-box {
            width: vw(1175px);

            $col_width:453/1175*100%;
            &__col {
                margin-right: vw(5px);

                &--item {
                    margin-right: vw(5px);
                    margin-bottom: vw(5px);

                    &:first-child {
                        height: vw(245px);
                    }

                    &:last-child {
                        height: vw(248px);
                    }
                }
            }

            $line_width: 717/1175*100%;
            &__inline {
                width: $line_width;
                height: vw(498px);
                margin-bottom: vw(5px);
            }

            &__block {
                &--item {
                    margin-bottom: vw(5px);
                    height: vw(327px);

                    $block_first_width: 698/1175*100%;
                    &:nth-child(1) {
                        width: $block_first_width;
                        margin-right: vw(5px);
                    }

                    $block_first_width: 472/1175*100%;
                    &:nth-child(2) {
                        width: $block_first_width;
                    }
                }
            }

            &__text {
                right: vw(36px);
                top: vw(40px);
                font: {
                    size: vw(34px);
                }
            }
        }
    }

    /* 알루미늄 호일, 포장재용, 산업/건축용 layout */
    .business-detail {
        padding-bottom: vw(85px);

        &__title {
            height: vw(270px);

            em {
                margin-top: vw(23px);
                font: {
                    size: vw(25px);
                }
            }

            p {
                margin-top: vw(15px);
                font-size: vw(20px);
                line-height: vw(30px);
            }
        }

        &__contents {
            max-width: vw(1497px);
            padding-top: vw(63px);
        }

        &__slide {
            width: vw(776px);
            padding: 0 vw(55px 26px) 0;
            background: url("../images/business/bg_slide.png") no-repeat bottom right / vw(807px) vw(447px);

            .swiper-container {
                width: vw(750px);
                height: vw(420px);
            }

            .swiper-button {
                width: vw(79px);
                height: vw(79px);
            }

            .swiper-pagination-bullet {
                width: vw(15px);
                height: vw(15px);
            }
        }

        .info {
            width: vw(652px);

            &__title {
                font: {
                    size: vw(25px);
                }
                line-height: vw(37px);
            }

            &__text {
                margin-top: vw(20px);
                margin-bottom: vw(33px);
                font-size: vw(18px);
                line-height: vw(32px);
            }

            &__value {
                margin-bottom: vw(20px);

                em {
                    height: vw(41px);
                    padding-right: vw(20px);
                    font: {
                        size: vw(25px);
                    }
                }

                p {
                    padding-left: vw(29px);
                    font-size: vw(15px);
                    line-height: vw(22px);
                    border-left: vw(3px) solid #000;
                }
            }

            &__table {

                &--title {
                    &:nth-child(1) {
                        border-top: vw(3px) solid #000;

                        th:last-child {
                            border-bottom: vw(3px) solid #000;
                        }
                    }

                    &:nth-child(2) {
                        border-bottom: vw(3px) solid #000;
                    }

                }

                th {
                    padding: vw(10px) 0;
                    border: vw(2px) solid #000;
                    font: {
                        size: vw(20px);
                        weight: bold;
                    }
                }

                td {
                    font-size: vw(18px);
                    line-height: vw(26px);
                }

                .border-bottom {
                    border-bottom: vw(3px) solid #000;
                }

                &--bottom {
                    height: vw(111px);
                }

                &.add-table {
                    margin-top: vw(28px);

                    .list-title {
                        font-size: vw(18px);
                    }

                    .list {

                        ul {

                            li {
                                text-indent: vw(-10px);
                                margin-left: vw(10px);
                            }
                        }
                    }

                    td {
                        padding: vw(24px 0 24px 28px);
                    }
                }
            }
        }

        &__button {
            margin-top: vw(66px);

            button {
                width: vw(220px);
                height: vw(80px);
                margin: 0 vw(15px);
                font-size: vw(25px);
            }
        }
    }

    /* business intro */
    .business-intro {
        margin-left: vw(142px);

        .slide-info {
            h2 {
                font: {
                    size: vw(70px);
                }
            }

            &__link {
                width: vw(225);
                height: vw(59);
                margin-top: vw(42px);
                font-size: vw(27px);
                border: vw(2px) solid #000;
                border-radius: vw(20px);
            }

        }

        &__slide-info {
            width: vw(594px);
        }

        &__slide-img {
            width: vw(1164px);
        }
    }

    /* 문의하기 팝업 */
    .question-pop {
        width: vw(610px);

        &__title {
            margin-top: vw(7px);

            h3 {
                padding-top: vw(14px);
                font: {
                    size: vw(25px);
                }
                border-top: vw(3px) solid #000;
            }
        }

        &__info  {
            padding-top: vw(40px);

            li {
                margin-bottom: vw(30px);
            }

            h4 {
                padding-bottom: vw(17px);
                font-size: vw(20px);
            }

            input {
                padding: 0 vw(30px);
                border-radius: vw(5px);

                &[type=text] {
                    height: vw(65px);
                }

                &::placeholder {
                    font-size: vw(18px);
                }
            }

            textarea {
                height: vw(140px);
                padding: vw(30px);
                border-radius: vw(5px);

                &::placeholder {
                    font-size: vw(18px);
                }

                &::-webkit-input-placeholder {
                    font-size: vw(18px);
                }

                &:-ms-input-placeholder  {
                    font-size: vw(18px);
                }
            }

            .email-input {

                &__separator {
                    font-size: vw(18px);
                }

                &__domain {
                    width: 245/525*100%;

                    input {
                        height: vw(65px);
                        padding: 0 vw(43px) 0vw(30px);
                        font-size: vw(18px);
                        border-radius: vw(5px);
                    }

                    // &::after {
                    //     content: "";
                    //     display: block;
                    //     position: absolute;
                    //     top: 50%;
                    //     right: vw(28px);
                    //     transform: translateY(-50%);
                    //     border-top: vw(13px) solid #757575;
                    //     border-left: vw(7px) solid transparent;
                    //     border-right: vw(7px) solid transparent;
                    // }
                }
            }

            .privacy-box {
                padding: vw(28px) vw(30px);
                height: vw(157px);
                font-size: vw(13px);
            }
        }

        &__form-check {
            margin-top: vw(15px);

            .form-check {
                width: vw(20px);
                height: vw(20px);
                margin-right: vw(10px);

                &:checked::after {
                    width: vw(20px);
                    height: vw(20px);
                }
            }

            span {
                font-size: vw(13px);
            }
        }

        &__submit-btn {
            height: vw(80px);
            padding: 0 vw(106px) 0 vw(51px);
            margin: vw(44px) auto 0;
            background-size: vw(46px) vw(42px);
            background-position: vw(152px) center;
            font-size: vw(25px);
        }
    }

    /* 담당자 팝업 */
    .manager-pop {
        width: vw(610px);

        &__title {
            margin-top: vw(7px);

            h3 {
                padding-top: vw(14px);
                font: {
                    size: vw(25px);
                }
                border-top: vw(3px) solid #000;
            }
        }

        &__list {
            padding-top: vw(40px);

            dl {
                padding-bottom: vw(17px);
            }

            dt {
                padding-right: vw(10px);

                font: {
                    size: vw(20px);
                }

                &::after{
                    width: vw(3px);
                    height: vw(20px);
                }

            }

            dd {
                margin-left: vw(7px);
                font-size: vw(20px);
            }
        }
    }

    /* 공정과정 */
    .speciality-process {

        &__title {
            padding: vw(57px) 0;
            font-size: vw(40px);
        }

        &__contents {
            max-width: vw(1021px);
        }

        &__tab {

            &--item {
                width: calc(33.33% - #{vw(6px)});
                margin-right: vw(6px);
                padding: vw(23px) 0;
                font-size: vw(20px);

                &.on {

                    &::after {
                        height: vw(5px);
                    }
                }
            }
        }

        .content-01 {
            padding-top: vw(69px);

            &__text {
                font-size: vw(18px);
                line-height: vw(32px);
            }

            &__list {
                padding-top: vw(70px);

                &--item {
                    width: vw(155px);
                    padding-right: vw(58px);
                    padding-top: vw(180px);

                    .lang-korea {

                        font: {
                            size: vw(20px);
                        }
                    }

                    .lang-english {
                        font-size: vw(18px);
                    }

                    .popup-btn {
                        width: vw(125px);
                        height: vw(30px);
                        padding-left:vw(13px);
                        font-size: vw(18px);

                        &::after {
                            right: vw(11px);
                            border-top: vw(5px) solid transparent;
                            border-left: vw(11px) solid $titleColor;
                            border-bottom: vw(5px) solid transparent;
                        }
                    }

                    &::after {
                        transform: translateY(-50%);
                        margin: 0 vw(8px);
                        width: vw(42px);
                        height: vw(42px);
                        background: url("../images/business/speciality/arrow_process.jpg") no-repeat;
                        background-size: contain;
                        vertical-align: middle;
                    }

                }

                &--item:nth-child(1) {
                    background: url("../images/business/speciality/img_content01_process_01.jpg") no-repeat left top / vw(155px) vw(180px);
                }
                &--item:nth-child(2) {
                    background: url("../images/business/speciality/img_content01_process_02.jpg") no-repeat left top / vw(155px) vw(180px);
                }
                &--item:nth-child(3) {
                    background: url("../images/business/speciality/img_content01_process_03.jpg") no-repeat left top / vw(155px) vw(180px);
                }
                &--item:nth-child(4) {
                    padding-right: 0;
                    background: url("../images/business/speciality/img_content01_process_04.jpg") no-repeat left top / vw(155px) vw(180px);

                    &::after {
                        display: none;
                    }
                }
            }
        }
    }

}
