@import "./lib/webvw";
.business-foil {
    position: relative;

    &__title {
        position: fixed;
        top: vw(358px);
        right: vw(120px);
        // transform: translateY(-50%);
        color: #3d3d3d;
        font: {
            size: vw(35px);
        }
        text-align: center;
        line-height: vw(70px);

        h2 {
            font-weight: 400;
        }

        span {
            color: #3d3d3d;
            font: {
                size: vw(37px);
                weight: bold;
            }

            em {
                color: $titleColor;
            }
        }
    }

    .foil-box {
        width: vw(1175px);

        $col_width:453/1175*100%;
        &__col {
            float: left;
            width: $col_width;
            margin-right: vw(5px);

            &--item {
                display: block;
                position: relative;
                width: 100%;
                margin-right: vw(5px);
                margin-bottom: vw(5px);

                &:first-child {
                    height: vw(245px);
                }

                &:last-child {
                    height: vw(248px);
                }
            }
        }

        $line_width: 717/1175*100%;
        &__inline {
            display: inline-block;
            position: relative;
            width: $line_width;
            height: vw(498px);
            margin-bottom: vw(5px);
        }

        &__block {
            &--item {
                position: relative;
                display: inline-block;
                margin-bottom: vw(5px);
                height: vw(327px);

                $block_first_width: 698/1175*100%;
                &:nth-child(1) {
                    float: left;
                    width: $block_first_width;
                    margin-right: vw(5px);
                }

                $block_first_width: 472/1175*100%;
                &:nth-child(2) {
                    width: $block_first_width;
                }
            }
        }

        &--item {
            display: inline-block;
            height: 100%;
            width: 100%;
        }

        &__text {
            display: block;
            position: absolute;
            right: vw(36px);
            top: vw(40px);
            color: $titleColor;
            font: {
                size: vw(34px);
                weight: bold;
            }
        }

        .item-foil {
            background: url("../images/business/foil/img_foil.jpg") no-repeat center / contain;
            &:hover {
                background: red;
            }
        }

        .item-fin {
            background: url("../images/business/foil/img_fin.jpg") no-repeat center / contain;
            &:hover {
                background: red;
            }
        }

        .item-capacitor {
            background: url("../images/business/foil/img_capacitor.jpg") no-repeat center / contain;
            &:hover {
                background: red;
            }
        }

        .item-decoration {
            background: url("../images/business/foil/img_decoration.jpg") no-repeat center / contain;
            &:hover {
                background: red;
            }
        }

        .item-line {
            background: url("../images/business/foil/img_line.jpg") no-repeat center / contain;
            &:hover {
                background: red;
            }
        }
    }
}
