
 @import "./lib/webvw";
 $titleColor: #1d3669; //확인 후 app.scss 에 다시 쓰기..

.header {
    position: relative;
    height: vw(90px);
    padding: 0 vw(40px);
    z-index: 1;
    border-bottom: 1px solid #ebebeb;
    background: #fff;
    font-size: 0;

    &__logo {
        position: relative;
        float: left;
        height: 100%;

        img {
            height: vw(26px);
            vertical-align: middle;
        }

        &::after {
            content: "";
            display: inline-block;
            height: 100%;
            vertical-align: middle;
        }
    }

    &__nav {
        display: inline-block;
        height: 100%;
        position: absolute;
        left: 50%;
        text-align: center;
        transform: translateX(-50%);

        &--item {
            display: inline-block;
            padding: 0 vw(20px);
            height: 100%;
            cursor: pointer;
            vertical-align: middle;

            span {
                font-size: vw(19px);

                &::after {
                    content: "";
                    display: inline-block;
                    height: 100%;
                    vertical-align: middle;
                }
            }
        }

        &--submenu {
            display: none;
        }
    }

    &__search {
        float: right;
        height: 100%;

        ul {
            display: inline-block;
            margin-right: vw(29px);
            vertical-align: middle;
        }

        li {
            position: relative;
            padding-left: vw(20px);

            &:first-child {
                &::before {
                    content: "";
                    display: block;
                    position: absolute;
                    left: 0;
                    top: 50%;
                    transform: translateY(-50%);
                    width: 0;
                    height: 0;
                    border-top:vw(8px) solid #000;
                    border-left:vw(5px) solid transparent;
                    border-right:vw(5px) solid transparent;
                }
            }
        }

        a {
            display: block;
            position: relative;
            font-size: vw(19px);
        }

        .language {
            &__eng {
                display: none;

                &.on {
                    display: b;
                }
            }
        }

        .btn-search {
            display: inline-block;
            width: vw(32px);
            height: vw(32px);
            background: url("../../images/common/btn_search.png") no-repeat;
            background-size: contain;
        }
        &::after {
            content: "";
            display: inline-block;
            height: 100%;
            vertical-align: middle;
        }
    }
}

.footer {
    width: 100%;
    background-color: #f2f2f2;

    &__wrap {
        max-width: vw(1613px);
        padding: vw(90px 0 70px);
        margin: 0 auto;
    }

    &__logo {
        display: inline-block;
        width: vw(229px);
        height: vw(52px);
        font-size: 0;
        background: url("../images/common/logo.png") no-repeat;
        background-size: contain;
    }

    &__nav {
        display: inline;
        @extend %clear;

    }

    &__nav-list {
        float: right;

        &--item {
            display: inline-block;
            margin-right: vw(90px);
            color: #111;
            vertical-align: top;

            h3 {
                display: block;
                padding-bottom: vw(40px);
                font : {
                    size: vw(18px);
                    weight: bold;
                }
            }

            a {
                display: block;
                margin-bottom: vw(24px);
                font : {
                    size: vw(18px);
                }
                line-height: 1;
            }

            li:last-child {
                a {
                    margin-bottom: 0;
                }
            }

            &:first-child {
                margin-right: 131px;
            }

            &:last-child {
                margin-right: 0;
            }
        }
    }

    &__inner {
        position: relative;
        padding-bottom: vw(30px);
        border-bottom: 1px solid #444;
        font-size: 0;
        @extend %clear;

        .question-btn {
            position: relative;
            float: right;
            right: 0;
            display: block;
            width: vw(173px);
            height: vw(60px);
            background-color: #3767c7;
            border-radius: vw(50px);

            a {
                position: absolute;
                top: 50%;
                left: vw(33px);
                transform: translateY(-50%);
                color: #fff;
                font : {
                    size: vw(16px);
                    weight: bold;
                }
            }

            &::after{
                content: "";
                display: block;
                width: vw(60px);
                height: vw(60px);
                position: absolute;
                right: 0;
                background: #1d3669 url("../images/common/icon-question.png")no-repeat center / vw(15px) vw(21px);
                border-radius: 50%;

            }
        }

        .droplist-box {
            display: inline-block;
            margin-right: vw(20px);

            &__button {
                position: relative;
                display: inline-block;
                padding: 0 vw(24px);
                height: vw(56px);
                width: vw(255px);
                color: #444;
                font : {
                    size: vw(16px);
                }
                text-align: left;
                border: 1px solid #444;

                &::after {
                    content: "";
                    display: block;
                    padding: vw(5px);
                    position: absolute;
                    right: vw(24px);
                    top: vw(26px);
                    border: solid #585858;
                    border-width: 0 vw(2px) vw(2px) 0;
                    transform: rotate(-135deg);
                }
            }
        }
    }

    .copyright {
        display: block;
        margin-top: 70px;
        color: #444;
        font-size: 16px;
    }
}

/* 서브페이지 레이아웃*/
.contents-wrap {
    &__title {
        position: relative;
        width: 100%;
        height: vw(200px);
        background-color: $titleColor;

        h2 {
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            color: #fff;
            font : {
                size: vw(40px);
                weight: bold;
            }
        }
    }

    &__section {
        max-width: 1400px;
        margin: 0 auto;
    }
}

/* 모바일 사이즈 */
@media all and (max-width: 768px) {
    @import "./lib/vw";

    .header {

    }
}
