
 @import "./lib/webvw";

.header {
    position: relative;
    height: vw(90px);
    padding: 0 vw(40px);
    z-index: 1;
    border-bottom: 1px solid #ebebeb;
    background: #fff;
    font-size: 0;

    &__logo {
        position: relative;
        float: left;
        height: 100%;

        img {
            height: vw(26px);
            vertical-align: middle;
        }

        &::after {
            content: "";
            display: inline-block;
            height: 100%;
            vertical-align: middle;
        }
    }

    &__nav {
        display: inline-block;
        height: 100%;
        position: absolute;
        left: 50%;
        text-align: center;
        transform: translateX(-50%);

        ul {
            height: 100%;
        }

        &--item {
            display: inline-block;
            position: relative;
            padding: 0 vw(20px);
            height: 100%;
            cursor: pointer;
            vertical-align: middle;

            span {
                font-size: vw(19px);

                &::after {
                    content: "";
                    display: inline-block;
                    height: 100%;
                    vertical-align: middle;
                }
            }

            &.on {
                color: $titleColor;

                &::after {
                    content: "";
                    display: block;
                    width: 100%;
                    height: vw(5px);
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    background-color: $titleColor;
                }

                .header__nav--submenu {
                    position: absolute;
                    left: 0;
                    display: block;
                    width: vw(275px);
                    border: 1px solid #b2b6c4;
                    background-color: #fff;
                    text-align: left;

                    li {
                        display: block;
                        height: vw(41px);
                        padding-left: vw(19px);
                        color: #000;
                        font-size: vw(15px);
                        line-height: vw(41px);
                        border-bottom: 1px solid #b2b6c4;

                        &:last-child {
                            border-bottom: none;
                        }

                        a {
                            display: block;

                            &:hover {
                                color: $titleColor;
                                font-weight: bold;
                            }
                        }
                    }
                }
            }
        }

        &--submenu {
            display: none;
        }
    }

    &__search {
        float: right;
        height: 100%;

        ul {
            display: inline-block;
            margin-right: vw(29px);
            vertical-align: middle;
        }

        li {
            position: relative;
            padding-left: vw(20px);

            &:first-child {
                &::before {
                    content: "";
                    display: block;
                    position: absolute;
                    left: 0;
                    top: 50%;
                    transform: translateY(-50%);
                    width: 0;
                    height: 0;
                    border-top:vw(8px) solid #000;
                    border-left:vw(5px) solid transparent;
                    border-right:vw(5px) solid transparent;
                }
                &.on {
                    &::before {
                        border-top: 0;
                        border-bottom:vw(8px) solid #000;
                        border-left:vw(5px) solid transparent;
                        border-right:vw(5px) solid transparent;
                    }
                }
            }
        }

        a {
            display: block;
            position: relative;
            font-size: vw(19px);
        }

        .language {
            &__eng {
                display: none;

                &.on {
                    display: block;
                    position: absolute;
                    bottom: 0;
                }
            }
        }

        .btn-search {
            display: inline-block;
            width: vw(32px);
            height: vw(32px);
            background: url("../../images/common/btn_search.png") no-repeat;
            background-size: contain;
        }
        &::after {
            content: "";
            display: inline-block;
            height: 100%;
            vertical-align: middle;
        }
    }
}

.footer {
    width: 100%;
    background-color: #f2f2f2;

    &__wrap {
        max-width: vw(1613px);
        padding: vw(90px 0 70px);
        margin: 0 auto;
    }

    &__logo {
        display: inline-block;
        width: vw(229px);
        height: vw(52px);
        font-size: 0;
        background: url("/images/common/logo.png") no-repeat;
        background-size: contain;
    }

    &__nav {
        display: inline;
        @extend %clear;

    }

    &__nav-list {
        float: right;

        &--item {
            display: inline-block;
            margin-right: vw(90px);
            color: #111;
            vertical-align: top;

            h3 {
                display: block;
                padding-bottom: vw(40px);
                font : {
                    size: vw(18px);
                    weight: bold;
                }
            }

            a {
                display: block;
                margin-bottom: vw(24px);
                font : {
                    size: vw(18px);
                }
                line-height: 1;
            }

            li:last-child {
                a {
                    margin-bottom: 0;
                }
            }

            &:first-child {
                margin-right: vw(131px);
            }

            &:last-child {
                margin-right: 0;
            }
        }
    }

    &__inner {
        position: relative;
        padding-bottom: vw(30px);
        border-bottom: 1px solid #444;
        font-size: 0;
        @extend %clear;

        .question-btn {
            position: relative;
            float: right;
            right: 0;
            display: block;
            width: vw(173px);
            height: vw(60px);
            background-color: #3767c7;
            border-radius: vw(50px);
            cursor: pointer;

            a {
                position: absolute;
                top: 50%;
                left: vw(33px);
                transform: translateY(-50%);
                color: #fff;
                font : {
                    size: vw(16px);
                    weight: bold;
                }
            }

            &::after{
                content: "";
                display: block;
                width: vw(60px);
                height: vw(60px);
                position: absolute;
                right: 0;
                background: #1d3669 url("../images/common/icon-question.png")no-repeat center / vw(15px) vw(21px);
                border-radius: 50%;

            }
        }

        .droplist-box {
            display: inline-block;
            margin-right: vw(20px);

            &__button {
                position: relative;
                display: inline-block;
                padding: 0 vw(24px);
                height: vw(56px);
                width: vw(255px);
                color: #444;
                font : {
                    size: vw(16px);
                }
                text-align: left;
                border: 1px solid #444;

                &::after {
                    content: "";
                    display: block;
                    padding: vw(5px);
                    position: absolute;
                    right: vw(24px);
                    top: vw(26px);
                    border: solid #585858;
                    border-width: 0 vw(2px) vw(2px) 0;
                    transform: rotate(-135deg);
                }
            }
        }
    }

    .copyright {
        display: block;
        margin-top: vw(70px);
        color: #444;
        font-size: vw(16px);
    }
}

/* 서브페이지 레이아웃*/
.contents-wrap {
    /* 페이지별로 title padding 값이 다르기 때문에 padding 값은 페이지별로 넣어야합니다.*/
    &__title {
        position: relative;
        width: 100%;
        background-color: $titleColor;
        &.pd-20 {
            padding: vw(20px 0);
        }
        &.pd-30 {
            padding: vw(30px 0);
        }
        &.pd-40 {
            padding: vw(40px 0);
        }
        &.pd-50 {
            padding: vw(50px 0);
        }

        h2 {
            display: block;
            color: #fff;
            font : {
                size: vw(40px);
                weight: bold;
            }
            text-align: center;
        }
    }

    &__section {
        max-width: vw(1400px);
        margin: 0 auto;
    }
}

/* 페이지네이션 */
.pagination {
    text-align: center;
    font-size: 0;

    a {
        display: inline-block;
        margin: 0 vw(15px);
        vertical-align: middle;
        line-height: 1;
    }

    &__number {
        margin-top: -1px;
        color: #787878;
        font-size: vw(20px);


        &.active {
            color: #000;
        }
    }

    &__button-prev {
        width: vw(10px);
        height: vw(18px);
        background: url("../images/common/pagenation_prev.png") no-repeat center / contain;
    }

    &__button-next {
        width: vw(10px);
        height: vw(18px);
        background: url("../images/common/pagenation_next.png") no-repeat center / contain;
    }
}

/* layer popup 공통 */
.layer-popup {
    display: none;
    position: absolute;
    padding: vw(30px) vw(42px) vw(60px) vw(43px);
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #fff;
    z-index: 2;

    &__close-btn {
        display: block;
        position: relative;
        right: vw(-15px);
        width: 100%;
        height: vw(30px);
        background: url("../images/common/btn_close.png") no-repeat right / contain;
        font-size: 0;
    }
}

/* 팝업 dim */
.popup-marsk {
    display: none;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.8;
    z-index: 1;
}

/* 태블릿 세로, 가로 사이즈 */
@media all and (min-width: 768px) and (max-width: 1024px)  {
    .footer {
        &__inner {
            .question-btn {
                width: vw(200px);
            }
        }
    }

    /* 서브페이지 레이아웃*/
    .contents-wrap {
        &__title {
            h2 {
                font-size: vw(80px);
            }
        }

        &__section {
            max-width: vw(1600px);
        }
    }
}

/* 모바일 사이즈 */
@media all and (max-width: 767px) {
     @import "./lib/vw";

     .header {
            height: vw(90px);

        &__logo {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);

            img {
                width: vw(125px);
                height: vw(28px);
            }
        }

        &__nav {
            display: none;
        }

        &__m-nav {
            height: vw(90px);
            width: vw(41px);
            position: absolute;
            left: vw(47px);
            top: 50%;
            transform: translateY(-50%);
            cursor: pointer;

            span {
                background: #000;
                position: absolute;
                width: vw(41px);
                height: vw(3px);
                display: block;
                right: 0;
                transition: all .3s ease-in-out;
                overflow: hidden;

                &:first-child {
                    top: vw(30px);
                }

                &:nth-child(2) {
                    top: vw(44px);
                }

                &:nth-child(3) {
                    top: vw(58px);
                }
            }

            a {
                font-size: vw(20px);
                line-height: vw(43px);
            }

            &--gnb {
                position: absolute;
                overflow: hidden;
                transition: all .3s ease-in-out;
                left: -100%;
                width: 100%;
                float: none;
                position: fixed;
                z-index: -1;
                background: #fff;
                top: 0;
                height: 100%;
                z-index: 1;

                &.on {
                    display: block;
                    left: -5%;
                    width: 80%;
                }

                &__top {
                    height: vw(90px);
                    padding: vw(0 30px 0 71px);
                    background-color: #f5f5f5;

                    h2 {
                        display: inline-block;
                        margin-top: vw(33px);
                        background:url("../images/common/logo.png") no-repeat;
                        background-size: contain;
                        width: vw(110px);
                        height: vw(25px);
                    }

                    .close-btn {
                        float: right;
                        margin-top: vw(32px);
                        font-size: 0;
                        width: vw(28px);
                        height: vw(30px);
                        background: url("../images/common/m/btn_clsoe_gnb.png")no-repeat;
                        background-size: contain;
                    }
                }

                &__list {
                    padding: vw(13px 65px);
                }

                &__item {
                    height: vw(99px);
                    padding: 0 vw(6px);
                    border-bottom: vw(2px) solid #cecece;
                    line-height: vw(99px);

                    span {
                        display: block;
                        position: relative;
                        font-size: vw(26px);
                        font-weight: bold;
                        color: #000;

                        &::after{
                            content: "";
                            display: inline-block;
                            position: absolute;
                            right: 0;
                            top: 50%;
                            transform: translateY(-50%);
                            width: vw(36px);
                            height: vw(21px);
                            background: url("../images/common/m/gnb_down.png")no-repeat;
                            background-size: contain;
                        }
                    }
                    cursor: pointer;

                    a {
                        font-size: 23px;
                        color: #000;
                    }

                    &.on {
                        height: auto;

                        .menu__sub {
                            display: block;
                        }

                        span {
                            &::after {
                                background: url("../images/common/m/gnb_up.png")no-repeat;
                                background-size: contain;
                            }
                        }
                    }
                }

                .menu {
                    &__sub {
                        display: none;
                    }
                }
            }
        }

        .gnb-marsk {
            display: none;
            position: fixed;
            width: 100%;
            height: 100%;
            background-color: #000;
            opacity: 0.9;
        }

        &__search {
            a {
                font-size: vw(17px);
            }

            ul {
                margin-right: vw(40px);
            }

            li {
                position: relative;
                padding-left: vw(21px);

                &:first-child {
                    &::before {
                        border-top:vw(8px) solid #000;
                        border-left:vw(5px) solid transparent;
                        border-right:vw(5px) solid transparent;
                    }
                    &.on {
                        &::before {
                            border-bottom:vw(8px) solid #000;
                            border-left:vw(5px) solid transparent;
                            border-right:vw(5px) solid transparent;
                        }
                    }
                }
            }

            .btn-search {
                width: vw(39px);
                height: vw(39px);
                background: url("../../images/common/m/icon_search.png") no-repeat;
                background-size: contain;
            }
        }
    }

    .footer {
        border-top: 1px solid #f2f2f2;
        background-color: #fff;
        position: relative;

        &__wrap {
            max-width: 100%;
            padding: vw(90px 70px);
        }

        &__logo {
            display: none;
        }

        &__nav-list {
            float: initial;

            &--item {
                display: block;
                margin-bottom: vw(35px);

                h3 {
                    padding-bottom: vw(32px);
                    font-size: vw(29px);
                    line-height: 1;
                }

                a {
                    margin-bottom: vw(23px);
                    font-size: vw(22px);
                }
            }
        }

        &__inner {
            border-bottom: 0;

            .droplist-box {
                display: none;
            }

            .question-btn {
                position: absolute;
                bottom: vw(110px);
                width: 0;

                a {
                    display: none;
                }

                &::after {
                    width: vw(97px);
                    height: vw(97px);
                    background-size: vw(23px 37px);
                }
            }
        }

        .copyright {
            display: none;
        }

        &::before {
            content: "";
            display: block;
            width: vw(50px);
            height: vw(45px);
            position: absolute;
            top: vw(45px);
            left: 50%;
            background: url("../images/common/m/icon_footer.png")no-repeat;
            background-size: contain;
        }
    }

    /* 서브페이지 레이아웃*/
    .contents-wrap {
        &__title {
            h2 {
                font-size: vw(45px);
            }
        }
    }
}
