/*모바일 모드*/


.main-intro a {
    font-size: vw(26px);
    color: blue;
}



/*모바일 사이즈*/
@media all and (max-width: 768px) {
    @import "./lib/vw";
    .main-intro a {
        font-size: vw(26px);
        color: red;
    }
}

