/* main */
.main-wrap {
    margin-top: 90px;

    &__section{
        height: 920px;
        display: table;
        width: 100%;
        max-width: 1900px;
        margin: 0 auto;

        &--title {
            display: block;
            font-size: 65px;
            line-height: 78px;
            color: #000;
            font-weight: 400;
            word-break: keep-all;

            em {
                font-weight: bold;
            }
        }

        &--button {
            display: inline-block;
            position: relative;
            margin-top: 41px;
            min-width: 154px;
            width: auto;
            height: 65px;
            border: 2px solid #000;
            padding-left:37px;
            padding-right: 54px;
            text-align: left;
            cursor: pointer;

            a {
                display: block;
                line-height: 65px;
                font-size: 25px;
            }

            button {
                display: block;
                line-height: 65px;
                font-size: 25px;
                border: 0;
            }

            &::after {
                content:"";
                display: block;
                width: 14px;
                height: 26px;
                position: absolute;
                right: 20px;
                top: 50%;
                transform: translateY(-50%);
                background: url("/kor/images/main/btn_main_arrow.png")no-repeat;
                background-size: contain;
            }

            &.on::after {
                transform: translateY(-40%) rotate(90deg);
            }
        }

        &--sub-menu {
            display: none;
            margin-top: 37px;
            float: right;
            width: 258px;

            li {
                display: block;
                position: relative;
                padding: 30px 39px 12px 11px;
                border-bottom: 1px solid #000;
                text-align: left;

                a {
                    display: block;
                    font-size: 20px;
                }

                &::after {
                    content:"";
                    display: block;
                    width: 12px;
                    height: 22px;
                    position: absolute;
                    right: 13px;
                    bottom: 12px;
                    background: url("/kor/images/main/btn_main_arrow.png")no-repeat;
                    background-size: contain;
                }
            }

            &.on {
                display: block;
            }
        }

        &--img {
            display: table-cell;
            height: 100%;
            width: 1260px;
            vertical-align: middle;

            &--wrap {
                position: relative;
                height: 100%;
                width: 100%;
            }

            .section-bg {
                display: block;
                position: absolute;
                bottom: 92px;
                width: 46.03174603175%;
                height: 63.04347826087%;
                background: url("/kor/images/main/img_main_bg.png")no-repeat;
                background-size: contain;
                z-index: -1;

                &--left {
                    left: 0;
                }
                &--right {
                    right: 0;
                }
            }
        }

        .section-left {
            display: table-cell;
            width: 33.68421052632%;
            padding-left: 7.47368421053%;
            vertical-align: middle;
        }

        .section-right {
            display: table-cell;
            width: 33.68421052632%;
            padding-right: 7.47368421053%;
            vertical-align: middle;
            text-align: right;
        }
    }

    .section01 {
        height: 830px;

        .section-bg  {
            height: 69.87951807229%;
        }

    }

    .section01-img {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        width: 95.2380952381%;
        height: 81.32530120482%;
        background: url("/kor/images/main/img_main_01.jpg")no-repeat;
        background-size: contain;
    }

    .section02-img {
        display: block;
        position: absolute;
        top: 93px;
        left: 0;
        width: 95.2380952381%;
        height: 73.36956521739%;
        background: url("/kor/images/main/img_main_02.jpg")no-repeat;
        background-size: contain;
    }

    .section03-img {
        display: block;
        position: absolute;
        top: 93px;
        right: 0;
        width: 95.2380952381%;
        height: 73.36956521739%;
        background: url("/kor/images/main/img_main_03.jpg")no-repeat;
        background-size: contain;
    }

    .section04-img {
        display: block;
        position: absolute;
        top: 93px;
        left: 0;
        width: 95.2380952381%;
        height: 73.36956521739%;
        background: url("/kor/images/main/img_main_04.jpg")no-repeat;
        background-size: contain;
    }
}

/* intro */
.intro-wrap {
    display: block;
    background: url("/kor/images/main/img_intro.jpg")no-repeat;
    width: 100%;
    height: 1820px;
    margin: -90px auto 0;
    background-size: cover;
    background-position: 50%;

    &__section {
        max-width: 1382px;
        height: 100%;
        position: relative;
        margin: 0 auto;

        p {
            display: block;
            font-size: 25px;
            line-height: 45px;
            color: #fff;
            margin-bottom: 23px;
            word-break: keep-all;
        }

        .important-text {
            font-size: 30px;
            color: #fff;
            line-height: 50px;
            font-weight: bold;

            span {
                color: #3767c7;
            }
        }

        &--left {
            position: absolute;
            padding-left: 100px;
            top: 190px;
            left: 0;
        }

        &--right {
            position: absolute;
            padding-right: 100px;
            bottom: 87px;
            right: 0;
            text-align: right;
        }
    }
}


/* 웹 1600 사이즈 */
@media all and (max-width: 1600px) {
    @import "./lib/webvw";
    /* main */
    .main-wrap {
        margin-top: vw(90px);

        &__section{
            height: vw(920px);
            max-width: vw(1900px);

            &--title {
                font-size: vw(65px);
                line-height: vw(78px);
            }

            &--button {
                margin-top: vw(41px);
                min-width: vw(154px);
                height: vw(65px);
                border: vw(2px) solid #000;
                padding-left: vw(37px);
                padding-right: vw(54px);

                a {
                    line-height: vw(65px);
                    font-size: vw(25px);
                }

                button {
                    line-height: vw(65px);
                    font-size: vw(25px);
                }

                &::after {
                    width: vw(14px);
                    height: vw(26px);
                    right: vw(20px);
                }
            }

            &--sub-menu {
                margin-top: vw(37px);
                width: vw(258px);

                li {
                    padding: vw(30px 39px 12px 11px);

                    a {
                        font-size: vw(20px);
                    }

                    &::after {
                        width: vw(12px);
                        height: vw(22px);
                        right: vw(13px);
                        bottom: vw(12px);
                    }
                }
            }

            &--img {
                width: vw(1260px);

                .section-bg {
                    bottom: vw(92px);
                }
            }
        }

        .section01 {
            height: vw(830px);
        }

        .section02-img,
        .section03-img,
        .section04-img {
            top: vw(93px);
        }
    }

}

/*태블릿 세로 사이즈*/
@media all and (min-width:768px) and (max-width:1023px) {
    @import "./lib/webvw";
     /* main */
     .main-wrap {
        margin-top: vw(180px);

        &__section {
            &--sub-menu {
                width: vw(300px);
            }
        }
     }
}

/* 모바일 사이즈 */
@media all and (max-width: 767px) {
    @import "./lib/vw";
    /* main */
    .main-wrap {
        &__section{
            display: block;
            position: relative;
            width: 100%;
            max-width: 100%;
            margin: 0 auto;

            &--title {
                display: block;
                font-size: vw(65px);
                line-height: vw(78px);
                color: #fff;
                font-weight: 400;
                word-break: keep-all;
                font-weight: 100;

                em {
                    font-weight: bold;
                }
            }

            &--button {
                display: inline-block;
                position: relative;
                margin-top: vw(41px);
                width: auto;
                height: vw(65px);
                border: vw(2px) solid #fff;
                padding-left:vw(37px);
                padding-right: vw(54px);
                text-align: left;
                line-height: vw(65px);

                cursor: pointer;

                a {
                    display: block;
                    line-height: vw(65px);
                    font-size: vw(26px);
                    color: #fff;
                }

                button {
                    display: block;
                    line-height: vw(65px);
                    font-size: vw(26px);
                    border: 0;
                    color: #fff;
                }

                &::after {
                    content:"";
                    display: block;
                    width: vw(14px);
                    height: vw(26px);
                    position: absolute;
                    right: vw(18px);
                    top: 50%;
                    transform: translateY(-50%);
                    background: url("/kor/images/main/m_btn_main_arrow.png")no-repeat;
                    background-size: contain;
                }

                &.on {
                    border: 0;
                    padding: 0;
                    height: auto;
                    line-height: 1;
                    margin-top: vw(29px);
                    padding-top: vw(165px);

                    button {
                        display: block;
                        font-size: vw(37px);
                        font-weight: bold;
                        line-height: 1;
                    }

                    &::after {
                        display: none;
                    }

                    &::before {
                        content:"";
                        display: block;
                        position: absolute;
                        left: vw(13px);
                        top: 0;
                        width: 1px;
                        height: vw(85px);
                        background-color: #fff;
                    }
                }
            }

            &--img {
                display: none;
            }

            &--sub-menu {
                display: none;
                margin-top: 0;
                float: right;
                width: auto;
                width: 100%;

                li {
                    display: block;
                    width: vw(320px);
                    position: relative;
                    padding: vw(25px) 0;
                    border-bottom: 0;
                    text-align: left;

                    a {
                        display: block;
                        font-size: vw(29px);
                        color: #fff;
                        line-height: 1;
                    }

                    &::after {
                        content:"";
                        display: block;
                        width: vw(30px);
                        height: vw(31px);
                        position: absolute;
                        right: vw(13px);
                        top: 50%;
                        transform: translateY(-50%);
                        background: url("/kor/images/main/m_btn_main_submenu.png")no-repeat;
                        background-size: contain;
                    }
                }

                &.on {
                    display: block;
                }
            }

            .section-left,
            .section-right {
                position: absolute;
                bottom: vw(260px);
                left: vw(70px);
                display: block;
                width: auto;
                padding:0;
                text-align: left;
            }

            .mobile-mask {
                display: none;
                width: 100%;
                height: 100%;
                background-color: #000;
                opacity: 0.3;

                &.on {
                    display: block;
                }
            }

            .mobile-arrow {
                display: block;
                position: absolute;
                bottom: vw(170px);
                left: 50%;
                // transform: translateX(-50%);
                width: vw(50px);
                height: vw(45px);
                background: url("/kor/images/common/bottom_arrow.png")no-repeat;
                background-size: contain;
                -moz-animation: mainbounce 3s infinite;
                -webkit-animation: mainbounce 3s infinite;
                animation: mainbounce 3s infinite;
                font-size: 0;
                z-index: 1;

            @-moz-keyframes mainbounce {
                0%, 20%, 50%, 80%, 100% {
                  -moz-transform: translateY(0);
                  transform: translateY(0);
                }
                40% {
                  -moz-transform: translateY(-3px);
                  transform: translateY(-3px);
                }
                60% {
                  -moz-transform: translateY(-1px);
                  transform: translateY(-1px);
                }
            }
              @-webkit-keyframes mainbounce {
                0%, 20%, 50%, 80%, 100% {
                  -webkit-transform: translateY(0);
                  transform: translateY(0);
                }
                40% {
                  -webkit-transform: translateY(-3px);
                  transform: translateY(-3px);
                }
                60% {
                  -webkit-transform: translateY(-3px);
                  transform: translateY(-3px);
                }
            }
              @keyframes mainbounce {
                0%, 20%, 50%, 80%, 100% {
                  -moz-transform: translateY(0);
                  -ms-transform: translateY(0);
                  -webkit-transform: translateY(0);
                  transform: translateY(0);
                }
                40% {
                  -moz-transform: translateY(-3px);
                  -ms-transform: translateY(-3px);
                  -webkit-transform: translateY(-3px);
                  transform: translateY(-3px);
                }
                60% {
                  -moz-transform: translateY(-1px);
                  -ms-transform: translateY(-1px);
                  -webkit-transform: translateY(-1px);
                  transform: translateY(-1px);
                }
            }
            }
        }

        .section01 {
            height: auto;
            background: url("/kor/images/main/m_img_main_01.jpg")no-repeat;
            background-size: cover;
            background-position: 50%
        }

        .section02 {
            background: url("/kor/images/main/m_img_main_02.jpg")no-repeat;
            background-size: cover;
            background-position: 50%
        }

        .section03 {
            background: url("/kor/images/main/m_img_main_03.jpg")no-repeat;
            background-size: cover;
            background-position: 50%
        }

        .section04 {
            background: url("/kor/images/main/m_img_main_04.jpg")no-repeat;
            background-size: cover;
            background-position: 50%
        }

        .section01-img {
            background:none;
        }

        .section02-img {
            background:none;
        }

        .section03-img {
            background:none;
        }

        .section04-img {
            background:none;
        }
    }

    /* intro */
    .intro-wrap {
        height: vw(1820px);
        margin: vw(-90px) auto 0;
        padding-bottom: vw(123px);

        &__section {
            max-width: 100%;

            p {
                font-size: vw(26px);
                line-height: vw(45px);
                margin-bottom: vw(30px)
            }

            .important-text {
                font-size: vw(39px);
                color: #fff;
                line-height: vw(74px);
                font-weight: bold;

                span {
                    color: #00a0ff;
                }
            }

            &--left {
                padding-top: vw(198px);
                position: initial;
                display: block;
                padding-left: 0;
                top: 0;
                left: 0;
                text-align: center;
            }

            &--right {
                padding-top: vw(198px);
                position: initial;
                display: block;
                padding-right: 0;
                bottom: 0;
                right: 0;
                text-align: center;
            }
        }
    }
}


