/* main */
.main-wrap {
    &__section{
        height: 920px;
        display: table;
        width: 100%;
        max-width: 1900px;
        margin: 0 auto;

        &--title {
            display: block;
            font-size: 65px;
            line-height: 78px;
            color: #000;
            font-weight: 400;
            word-break: keep-all;

            em {
                font-weight: bold;
            }
        }

        &--button {
            display: inline-block;
            position: relative;
            margin-top: 41px;
            min-width: 154px;
            width: auto;
            height: 65px;
            border: 2px solid #000;
            padding-left:37px;
            padding-right: 54px;
            text-align: left;
            cursor: pointer;

            a {
                display: block;
                line-height: 65px;
                font-size: 25px;
            }

            button {
                display: block;
                line-height: 65px;
                font-size: 25px;
                border: 0;
            }

            &::after {
                content:"";
                display: block;
                width: 14px;
                height: 26px;
                position: absolute;
                right: 20px;
                top: 50%;
                transform: translateY(-50%);
                background: url("/images/main/btn_main_arrow.png")no-repeat;
                background-size: contain;
            }

            &.on::after {
                transform: translateY(-40%) rotate(90deg);
            }
        }

        &--sub-menu {
            display: none;
            margin-top: 37px;
            float: right;
            width: 258px;

            li {
                display: block;
                position: relative;
                padding: 30px 39px 12px 11px;
                border-bottom: 1px solid #000;
                text-align: left;

                a {
                    display: block;
                    font-size: 20px;
                }

                &::after {
                    content:"";
                    display: block;
                    width: 12px;
                    height: 22px;
                    position: absolute;
                    right: 13px;
                    bottom: 12px;
                    background: url("/images/main/btn_main_arrow.png")no-repeat;
                    background-size: contain;
                }
            }

            &.on {
                display: block;
            }
        }

        &--img {
            display: table-cell;
            height: 66.31578947368%;
            width: 1260px;
            vertical-align: middle;
        }

        .section-left {
            display: table-cell;
            width: 33.68421052632%;
            padding-left: 7.47368421053%;
            vertical-align: middle;
        }

        .section-right {
            display: table-cell;
            width: 33.68421052632%;
            padding-right: 7.47368421053%;
            vertical-align: middle;
            text-align: right;
        }
    }

    .section01 {
        height: 830px;
    }

    .section01-img {
        background: url("/images/main/img_main_01.jpg")no-repeat;
        background-position: left;
        background-size: cover;
    }

    .section02-img {
        background: url("/images/main/img_main_02.jpg")no-repeat;
        background-position: right;
        background-size: cover;
    }

    .section03-img {
        background: url("/images/main/img_main_03.jpg")no-repeat;
        background-position: left;
        background-size: cover;
    }

    .section04-img {
        background: url("/images/main/img_main_04.jpg")no-repeat;
        background-position: right;
        background-size: cover;
    }
}



/* 웹 1600 사이즈 */
@media all and (max-width: 1600px) {
    @import "./lib/webvw";
    /* main */
    .main-wrap {
        &__section{
            height: vw(920px);
            max-width: vw(1900px);

            &--title {
                font-size: vw(65px);
                line-height: vw(78px);
            }

            &--button {
                margin-top: vw(41px);
                min-width: vw(154px);
                height: vw(65px);
                border: vw(2px) solid #000;
                padding-left: vw(37px);
                padding-right: vw(54px);

                a {
                    line-height: vw(65px);
                    font-size: vw(25px);
                }

                button {
                    line-height: vw(65px);
                    font-size: vw(25px);
                }

                &::after {
                    width: vw(14px);
                    height: vw(26px);
                    right: vw(20px);
                }
            }

            &--sub-menu {
                margin-top: vw(37px);
                width: vw(258px);

                li {
                    padding: vw(30px 39px 12px 11px);

                    a {
                        font-size: vw(20px);
                    }

                    &::after {
                        width: vw(12px);
                        height: vw(22px);
                        right: vw(13px);
                        bottom: vw(12px);
                    }
                }
            }

            &--img {
                width: vw(1260px);
            }
        }

        .section01 {
            height: vw(830px);
        }
    }

}

/*태블릿 세로 사이즈*/
@media all and (min-width:768px) and (max-width:1023px) {
    @import "./lib/webvw";
     /* main */
     .main-wrap {
        &__section {
            &--sub-menu {
                width: vw(300px);
            }
        }
     }
}

/* 모바일 사이즈 */
@media all and (max-width: 767px) {
    @import "./lib/vw";
}


