@import "./lib/webvw";
/* 지원하기 */
.work-apply {
    background-color: #e8ecef;

    &__title {

        h2 {
            padding: vw(56px) 0;
            line-height: 1;
        }
    }

    &__contents {
        max-width: vw(1302px);
        padding-top: vw(50px);
        margin: 0 auto;
    }

    &__progress {
        // height: vw(250px);
        width: 100%;
        padding: vw(56px) 0;
        margin-bottom: vw(18px);
        border: 1px solid #bcc0c3;
        background-color: #fff;

        ul {
            width: vw(657px);
            display: table;
            margin: 0 auto;
            counter-reset: step;

            li {
                display: table-cell;
                position: relative;
                width: 25%;
                color: #4a4a4a;
                font: {
                    size: vw(20px);
                    weight: 600;
                }
                text-align: center;
                vertical-align: top;

                &:before {
                    content: counter(step);
                    counter-increment: step;
                    display: block;
                    width: vw(74px);
                    height: vw(73px);
                    position: relative;
                    line-height: vw(74px);
                    font-size: vw(28px);
                    color: #acacac;
                    background: white;
                    border-radius: 50%;
                    margin: 0 auto vw(17px);
                    border: vw(5px) solid #acacac;
                    text-align: center;
                    z-index: 1;
                }

                &::after {
                    content: '';
                    width: 100%;
                    height: vw(3px);
                    background: #acacac;
                    position: absolute;
                    left: -50%;
                    top: vw(35px);
                }

                &:first-child:after  {
                    content: none;
                }

                &.on {
                    color: $titleColor;

                    &::before {
                        content: "";
                        counter-increment: step;
                        background: $titleColor url("../images/work/hire_progress_check.png") no-repeat;
                        background-size: contain;
                        border: vw(5px) solid $titleColor;
                    }

                    &::after {
                        background-color: $titleColor;
                    }
                }
            }
        }
    }

    .form-container {
        width: 100%;
        margin-bottom: vw(18px);
        border: 1px solid #bcc0c3;
        background-color: #fff;

        form {
            padding: vw(70px 240px 70px);
        }

        .form-wrap {

            h3 {
                display: inline-block;
                position: relative;
                padding-top: vw(11px);
                margin-bottom: vw(30px);
                color: #010101;
                font: {
                    size: vw(25px);
                    weight: bold;
                }
                line-height: 1;

                &::before {
                    content: "";
                    display: block;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: vw(93px);
                    height: vw(4px);
                    background-color: #000;
                }

                em {
                    display: inline-block;
                    font-size: vw(15px);
                }
            }

            .form-group {
                margin-bottom: vw(20px);

                label {
                    display: inline-block;
                    width: vw(173px);
                    color: #010101;
                    font-size: vw(20px);
                    vertical-align: top;
                }

                input {
                    display: inline-block;
                    padding: 0 vw(19px);
                    width: vw(500px);
                    height: vw(54px);
                    background-color: #e8ecef;
                    border-radius: vw(5px);
                    border: none;
                    vertical-align: top;
                    font-size: vw(18px);

                    &::-webkit-input-placeholder {
                        color: #9f9f9f;
                    }

                    &::-ms-input-placeholder {
                        color: #9f9f9f;
                    }
                }

                .input-gorup {
                    display: inline-block;
                    width: vw(351px);

                    input {
                        display: block;
                        width: 100%;
                        margin-bottom: vw(10px);
                    }
                }

                .input_date-group {
                    display: inline-block;
                    width: vw(500px);
                    vertical-align: middle;
                    font-size: 0;

                    .from-arrow {
                        display: inline-block;
                        width: 8%;
                        vertical-align: middle;
                        font-size: vw(18px);
                        text-align: center;;
                    }

                    span {
                        font-size: vw(18px);
                    }

                    .inline-block {
                        display: inline-block;
                        width: 46%;
                        vertical-align: middle;

                        input {
                            width: 100%;
                        }
                    }
                }
            }
        }

        // 인적사항 form
        .form-left {
            display: inline-block;
            width: 60%;

            .form-group {

                label {
                    width: vw(132px);
                }

                input {
                    width: vw(351px);
                }

            }
        }

        // 사진업로드
        .form-img {
            float: right;
            width: vw(209px);

            .form-group {
                .picture {
                    position: relative;
                    width: 100%;
                    height: vw(300px);
                    background-color: #e8ecef;

                    .picture-text {
                        display: block;
                        position: absolute;
                        width: 100%;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%,-50%);
                        font-size: vw(18px);
                        color: #9f9f9f;
                        text-align: center;
                    }

                    img {
                        width: 100%;
                        height: 100%;
                    }
                }

                .input-file-trigger {
                    display: block;
                    position: relative;
                    width: 100%;
                    height: vw(55px);
                    margin-top: vw(20px);
                    background: $titleColor;
                    color: #fff;
                    font: {
                        size: vw(18px);
                        weight: 600;
                    }
                    line-height: vw(55px);
                    text-align: center;
                    cursor: pointer;

                    input {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 0;
                        opacity: 0;
                        padding: 14px 0;
                        cursor: pointer;
                    }
                }
            }
        }
    }

}


/*태블릿 세로 사이즈*/
@media all and (min-width: 1024px)  {
    @import "./lib/vw";

    .work-apply {
        &__contents {
            max-width: vw(662px);
            padding-top: vw(38px);
            margin: 0 auto;
        }

        &__progress {
            ul {
                width: vw(534px);
            }
        }
    }

}
